body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 160%;
    background-color: #12181D;
    color: #FDFDFD;
}

a:not(.ignore-a-styling):not(.pds-button) {
    color: #B5DCFB;
    text-decoration: none;
}
a:not(.ignore-a-styling):not(.pds-button):hover {
    color: #D5EBFD;
    text-decoration: underline;
}

#pds-superseded {
    display: none;
}
#pds-superseded-toggle {
    text-decoration: underline;
    letter-spacing: 0.1em;
    cursor: pointer;
    margin-left: 1em;
}
.resource-title {
    text-align: center;
}
.pds-button {
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 16px;

    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), #2398F4;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    position: relative;
    display: inline-block;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-decoration: none;

    /* primary / contrast text */

    color: #192028;
}

.pds-button:hover {
    background: #57B4FF;
}

h1 {
    font-size: 48px;
    line-height: initial;
}
h2 {
    font-size: 34px;
    line-height: initial;
}
h3 {
    font-size: 24px;
    line-height: initial;
}
h4 {
    font-size: 20px;
    line-height: initial;
}

table {
    border-top: 1px solid #C0C2C4;
    border-bottom: 1px solid #C0C2C4;
    border-collapse: collapse;
    margin: 24px 0;
    /* grey / grey-800 */

    background: #474C53;
    /* grey / grey-700 */

    border: 1px solid #282F36;
    box-sizing: border-box;
    /* Elevation / 8 */

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
td, th {
    padding: 16px;
    border: 0;
}
th, td i {
    font-weight: bold;
    font-style: normal;
}
td[rowspan]:not([rowspan="1"]) {
    vertical-align: text-top;
}

p, li {
    margin: 24px 0;
}

/* main */
main {
    min-height: calc(100vh - 8em);
    /* background-color: #282F36; */
}
.sbn-main {
    padding: 16px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.sbn-main.index {
    max-width: 1100px;
}

/* iPhone 6 & wider */
@media (min-width: 375px) {
    .sbn-footer-text {
        font-size: 1em;
    }
    .sbn-subtitle {
        font-size: 1.2em;
    }
}
/* iPad (portrait mode) & wider */
@media (min-width: 768px) {
    .menu-clickable {
        display: none;
    }
    .sbn-menu-handle {
        display: none;
    }
    .sbn-sidebar {
        display: none;
        width: 250px;
        position: absolute;
        left: 0;
        top: calc(5em + 32px);
    }
    .sbn-title {
        font-size: 2em;
    }
    .sbn-subtitle {
        font-size: 4em;
    }
    .pds-logo img{
        height: 4.5em;
    }
    main {
        /* margin-left: 250px; */
        /* min-height: 550px; */
        box-sizing: border-box;
    }
}
/* iPad (landscape mode) & wider */
@media (min-width: 1024px) {
    #sbn-header {
        background-position-x: right;
    }
}




.breadcrumbs {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;  
}
.breadcrumbs-separator {
    display: flex;
    margin-left: 8px;
    user-select: none;
    margin-right: 8px;
}
.breadcrumbs li:not(:last-child), .breadcrumbs a {
    color: rgba(253,253,253,0.54) !important
}

.primary-sections {
    display: flex;
    flex-flow: row wrap;
}
.primary-sections section {
    flex: 1;
    padding: 16px;
    max-width: 300px;
    margin: 16px;
    background: #474C53;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);

}
.primary-sections section h2 {
    display: block;
    margin: -16px -16px 8px -16px;
    padding: 16px;
    font-size: 20px;
    background-color: #282F36;
}
.primary-sections ul {
    list-style: none;
    padding: 0;
}
.primary-sections li {
    display: block;
    margin: 0;
    padding: 12px;
}
.primary-sections li:hover {
    text-decoration: underline;
    background: #656A6F;
}