body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
a {
    text-decoration: none;
    color: #FF5722;
    letter-spacing: 0.1em;
}


/* main */
.sbn-main {
    padding-left: 0.7em;
    min-height: calc(100vh - 8em);
}

/* iPhone 6 & wider */
@media (min-width: 375px) {
    .gradient-bar {
        width: 120px;
    }
    .sbn-footer-text {
        font-size: 1em;
    }
    .sbn-subtitle {
        font-size: 1.2em;
    }
}
/* iPhone 6 Plus & wider */
@media (min-width: 414px) {
    .gradient-bar {
        width: 180px;
    }

}
/* iPad (portrait mode) & wider */
@media (min-width: 768px) {
    .gradient-bar {
        width: 300px;
    }
    .menu-clickable {
        display: none;
    }
    .sbn-menu-handle {
        display: none;
    }
    .sbn-sidebar {
        width: 20vw;
        position: absolute;
        left: 0;
        top: 5em;
    }
    .sbn-title {
        font-size: 1em;
    }
    .sbn-subtitle {
        font-size: 1.7em;
    }
    .pds-logo {
        top: 0.5em;
        right: 5.75em;
        height: 4.5em;
    }
    .nasa-logo {
        top: 0px;
        right: 0px;
        height: 4.5em;
        margin: 5px;
    }
    .sbn-main {
        margin-left: 20vw;
    }
}
/* iPad (landscape mode) & wider */
@media (min-width: 1024px) {

}
