.sbn-sidebar {
    border: 0.05em solid #BDBDBD;
    background: #D5D5D5;
    color: white;
}
.sbn-sidebar-header {
    margin: 0;
    padding: 0.5em 0.5em;
    color: #FF5722;
}
.sbn-sidebar-header:not(:first-of-type) {
    margin: 0.5em 0 0 0;
}
.sbn-sidebar-ul {
    margin: 0;
    padding: 0;
}
.sbn-sidebar-li {
    list-style: none;
    padding: 0.3em 0.5em;
    color: #000000;
    background: #EDEDED;
}
.sbn-sidebar-li:not(:first-child) {
    border-top: 0.1em solid #BDBDBD;
}
