.sbn-header {
    width: 100%;
    background: #ededed;
    height: 5em;
    color: #333;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #dadada;
    box-shadow: 0 1px 2px #dadada;
}
.sbn-menu-handle {
    position: absolute;
    top: 5em;
    padding: 0 0.5em;
    right: 0;
    background: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.sbn-menu-handle a {
    color: #333;
}
.sbn-banner {
    position: relative;
}
.pds-logo {
    position: absolute;
    top: 1.25em;
    right: 4em;
    height: 3em;
}
.nasa-logo {
    position: absolute;
    top: 0.75em;
    right: 0px;
    height: 3em;
    margin: 5px;
}
.sbn-title-container {

}
.sbn-title {
    height: 40%;
    display: flex;
    font-size: 0.8em;
}
.sbn-title span {
    padding-left: 10px;
    align-self: flex-end;
}

.bar {
    display: flex;
    flex-direction: row;
    height: 60%;
}
.sbn-subtitle {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    background-color: #333;
    color: #ededed;

}
.sbn-subtitle:hover {
    cursor: pointer;
    color: #FF5722;
}
.sbn-subtitle span {
    padding-left: 10px;
}
.gradient-bar {
    width: 40vw;
    height: 60%%;
    background: linear-gradient(to right, #333, rgba(0,0,0,0))
}
.menu-container {
    display: flex;
    flex-flow: row nowrap;
}
.menu-clickable {
    margin: 0;
    padding: 0;
    color: white;
}
