#sbn-header {
    width: 100%;
    background-color: #000;
    height: 300px;
    color: #ededed;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12); */
    background-image: url("../images/bennu.png");
    background-size: 40%;
    background-repeat: no-repeat;
    position: relative;
}
.sbn-menu-handle {
    position: absolute;
    top: 5em;
    padding: 0 0.5em;
    right: 0;
    background: #ededed;
    
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.sbn-menu-handle a {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sbn-title-container {
    background-color: #000;   
    padding-left: 1em;
    position: absolute;
    bottom: 16px;
    display: flex;
    flex-direction: column;
}
.sbn-title {
    line-height: initial;
    font-size: 3em;
}
.sbn-title a {
    align-self: flex-end;
    text-decoration: none;
    color: #ededed;
}
.sbn-title a:hover {
    text-decoration: underline;
}
.sbn-subtitle {
    margin: 0;
    line-height: initial;
    padding: 0;
    text-decoration: none;
    color: #ededed;
    font-size: 0.9em;
}
.sbn-subtitle:hover {
    text-decoration: underline;
}
.gradient-bar {
    width: 20vw;
    height: 100%;
    background: linear-gradient(to right, #000, rgba(0,0,0,0))
}
.menu-container {
    display: flex;
    flex-flow: row nowrap;
}
.menu-clickable {
    margin: 0;
    padding: 0;
    color: white;
}
nav {
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #282F36;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
}
.menu-handle > div {
    display: block;
    padding: 16px;
}
.menu-list {
    transition: visibility 0, opacity 0.3s ease-in-out;
    position: absolute;
    top: 57px;
    list-style-type:none;
    margin:0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}
.menu-handle:hover {
    background: #474C53;
    cursor: pointer;
}
.menu-handle:hover .menu-list {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.menu-list li {
    position:relative;
    list-style-type:none;
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #B5DCFB;
    background: #474C53;
}
.menu-list li a:hover {
    text-decoration: underline;
    background: #656A6F;
}
.menu-list a {
    display: block;
    padding: 16px;
}

.menu-list .divider {
    display: block;
    padding: 8px;
}