#sbn-header {
    width: 100%;
    background-color: #000;
    height: 150px;
    color: #ededed;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-image: url("../images/bennu.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: right;
    position: relative;
}

.sbn-menu-handle {
    position: absolute;
    top: 5em;
    padding: 0 0.5em;
    right: 0;
    background: #ededed;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sbn-menu-handle a {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbn-title-container {
    background-color: #000;
    max-width: 60vw;
    padding-left: 1em;
    position: absolute;
    bottom: 16px;
    display: flex;
    flex-direction: column;
}

.sbn-title {
    line-height: initial;
    font-size: 3em;
}

.sbn-title a {
    align-self: flex-end;
    text-decoration: none;
    color: #ededed;
}

.sbn-title a:hover {
    text-decoration: underline;
}

.sbn-title a:hover::after {
    background-image: url('/images/external.svg');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    display: inline-block;
    padding-left: 1em;
    padding-top: 2px;
    width: 20px;
    height: 30px;
    content:"";
}

.sbn-subtitle {
    margin: 0;
    line-height: initial;
    padding: 0;
    text-decoration: none;
    color: #ededed;
    font-size: 0.9em;
}

.sbn-subtitle:hover {
    text-decoration: underline;
}

.gradient-bar {
    width: 85vw;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
}

.menu-container {
    display: flex;
    flex-flow: row nowrap;
}

.menu-clickable {
    margin: 0;
    padding: 0;
    color: white;
}

nav {
    height: 57px;
    /* nav bar height */
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--section-header);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
}

.menu-handle>div {
    display: block;
    padding: 16px;
}

.menu-list {
    transition: visibility 0, opacity 0.3s ease-in-out;
    position: absolute;
    top: 57px;
    /* nav bar height */
    list-style-type: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
}

.menu-handle:hover {
    background: var(--raised-content);
    cursor: pointer;
}

.menu-handle:hover .menu-list {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.menu-list li {
    position: relative;
    list-style-type: none;
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: var(--link);
    background: var(--raised-content);
}

.menu-list li a:hover {
    text-decoration: underline;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background: var(--raised-content-hover);
}

.menu-list a {
    display: block;
    padding: 16px;
}

.menu-list .divider {
    display: block;
    padding: 8px;
}

/* Search */

.search-container {
    margin-left: auto;
    min-width: 300px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.search-box {
    width: 100%;
    background: var(--background-l1);
    border-radius: 4px;
    display: flex;
    flex-flow: row nowrap;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.search-box input::placeholder { 
    color: var(--secondary-text);
    opacity: 1; 
  }

.search-box.focused {
    background: var(--raised-content);
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
}

.search-box .search-icon {
    width: 1.5em;
    height: 1.5em;
    padding: 8px;
    fill: var(--icon);
}

.search-box .input-field {
    flex-grow: 1;
}

.search-box input {
    font-size: 1em;
    height: 100%;
    background: none;
    border: 0;
    width: 100%;
    color: var(--text);
    -webkit-tap-highlight-color: transparent;
}

.search-box input:focus {
    outline: none;
}

.search-results {
    width: 300px;
    position: absolute;
    top: 107px;
    background: var(--raised-content);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-result {
    display: block;
    margin: 0;
    padding: 0;
}

.search-results a, .search-results p {
    display: block;
    padding: 12px 24px;
    margin: 0;
}

.search-results .no-results {
    text-align: center;
}

.search-result a:hover {
    text-decoration: underline;
    background: var(--raised-content-hover);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.search-filter {
    width: 300px;
    position: absolute;
    top: 57px; /* bar height */
    background: var(--raised-content);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.search-filter input {
    display: none;
}

.search-filter .toggle-option {
    padding: 0 15px;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.02857em;
    border: 1px solid var(--link);
    background-color: transparent;
    color: var(--link);
    box-sizing: border-box;
}
.search-filter .toggle-option.focused{
    background-color: var(--button);
    border-color: var(--button);
    color: var(--button-contrast);
}
.search-filter .toggle-option:first-child {
    border-right-color: transparent;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-filter .toggle-option:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-filter .toggle-option:hover {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: var(--raised-content-hover);
    color: var(--link-hover);
    cursor: pointer;
}
.search-filter .toggle-option.focused:hover {
    background-color: var(--button);
}

/*Simple css to style it like a toggle switch*/

#theme-switch {
    padding: 8px;
    display: flex;
}

#theme-switch label {
    display: inherit;
    cursor: pointer;
}

#theme-switch input {
    display: none;
}

#theme-switch svg {
    fill: var(--icon);
    transition: fill 0.3s ease-in-out;
}

/* Responsive breakpoints */

@media (min-width: 0px) {
    .sbn-title {
        font-size: 1em;
    }
    .sbn-subtitle {
        font-size: 2em;
    }
    #search-bar {
        display: none;
    }
}

/* iPad (landscape mode) & wider */

@media (min-width: 768px) {
    #search-bar {
        display: block;
    }
    #sbn-header {
        height: 300px;
    }
    .sbn-title {
        font-size: 2em;
    }
    .sbn-subtitle {
        font-size: 4em;
    }
    .gradient-bar {
        display: none;
    }
}