#search {
    margin: 2em 0 1em 0;
}
.table {
    display: table;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    max-width: 1000px;
}
.row {
    display: table-row;
}
.row-alt {
    background: #f6f6f6;
}
.header {
    background: #D5D5D5;
}
.cell {
    padding: 0.3em 0.5em;
    display: table-cell;
    border: 1px solid #BDBDBD;
    vertical-align: middle;
}
.cell h3 {
    margin: 0;
    text-decoration: underline;
}
.cell.centered {
    text-align: center;
}

.cell.cell-sm {
    max-width: 50px;
}
.cell.cell-md {
    max-width: 130px;
}
.cell.cell-lg {
    max-width: 400px;
}

.object-name {
    text-align: left;
}

.icon {
    height: 50px;
    cursor: pointer;
}
.ferret-link {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.external-link-icon {
    height: 14px;
}
.download-link-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: none;
}
.category {
    border: 1px solid #BDBDBD;
}
.category .cell {
    border: none;
    background: #EDEDED;
}
.preview {
    height: 6em;
    width: auto;
}
.input-text {
    margin: 0;
    font-size: 0.8em;
    font-style: italic;
}

.preview-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* START RESPONSIVE CSS */

/* iPhone 6 & wider */
@media (min-width: 375px) {
    .sbn-main {
        padding: 0 0.5em;
    }
    .cell * {
        font-size: 0.85em;
    }
    .preview {
        height: 50px;
        width: 50px;
    }
}
/* iPhone 6 Plus & wider */
@media (min-width: 414px) {
    .cell * {
        font-size: 0.9em;
    }
}
/* iPad (portrait mode) & wider */
@media (min-width: 768px) {
    .preview {
        height: 80px;
        width: 80px;
    }
}
/* END RESPONSIVE CSS */