#title {
    text-align: center;
}
#search {
    margin: 2em 0 1em 0;
}
.table {
    display: table;
    border-collapse: collapse;
    margin: 0 0 1em 0;
}
.row {
    display: table-row;
}
.row:nth-child(2n) {
    background: #f6f6f6;
}
.header {
    background: #D5D5D5;
}
.cell {
    padding: 0.5em;
    display: table-cell;
    border: 1px solid #BDBDBD;
    vertical-align: middle;
}
.cell h3 {
    margin: 0;
    text-decoration: underline;
}
.category {
    border-right: 1px solid #BDBDBD;
    border-left: 1px solid #BDBDBD;
    border-bottom: 2px solid #BDBDBD;
}
.category .cell {
    border: none;
    background: #EDEDED;
}
.preview {
    height: 4em;
    width: 4em;
}
.input-text {
    margin: 0;
    font-size: 0.8em;
    font-style: italic;
}
.download-cell {
    text-align: center;
}
.download-cell p, .download-cell i {
    cursor: pointer;
    margin: 0;
}