main a {
    color: inherit;
}

/* blue: #0B3D91*/

.sbn-main {
    padding: 3em 3em 0 3em;
}

.olaf-title {
    margin: 0 auto;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.olaf-logo {
    height: 8em;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.olafs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 30em;
    max-width: 50em;
}

.olaf.primary {
    flex: 0 0 100%;
    border-width: medium;
}

.olaf {
    box-sizing: border-box;
    padding: 0.7em;
    margin: 1em;
    text-decoration: none;
    border: 0.05em solid #0B3D91;
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.olaf ul {
    display: inline-block;
}

.olaf li {
    padding-right: 0;
    margin-left: 0;
}

.olaf h2 {
    text-align: center;
    color: #0B3D91;
    margin: 0 auto;
}

.olaf h4 {
    text-align: center;
    font-variant: small-caps;
    margin-top: 0;
    color: green;
}

.olaf .url {
    text-align: center;
    color: #0B3D91;
}
.olaf .note {
  color: grey;
  font-size: 0.8em;
}

.olaf:hover {
    box-shadow: 0 0 0.3em 0 #0B3D91;
}

.olaf p {
    font-size: 0.85em;
}

.olaf li {
    text-align: left;
}

.description {
    padding: 0 1.5em;
    text-align: left;
}
