main a {
    color: inherit;
}

/* blue: #0B3D91*/

.sbn-main {
    padding: 3em 3em 0 3em;
}

.olaf-title {
    margin: 0 auto;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.olaf-logo {
    height: 8em;
}

.olafs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 30em;
}

.olafs a {
    text-decoration: none;
}

.olaf {
    margin: 1em;
    border: 0.05em solid #0B3D91;
    width: 15em;
    text-align: center;
    cursor: pointer;
}

.olaf ul {
    padding-left: 1.5em;
}

.olaf li {
    padding-right: 0;
    margin-left: 0;
}

.olaf h2 {
    text-align: center;
    color: #0B3D91;
}

.olaf h4 {
    text-align: center;
    font-variant: small-caps;
    margin-top: 0;
    color: green;
}

.olaf a {
    text-align: center;
}

.olaf:hover {
    box-shadow: 0 0 0.1em 0 #0B3D91;
}

.olaf p {
    font-size: 0.85em;
}

.olaf li {
    text-align: left;
}

.description {
    padding: 0 1.5em;
    text-align: left;
}