main a {
    color: inherit;
}

/* blue: #0B3D91*/

.sbn-main {
    padding: 3em 3em 0 3em;
}

.olaf-description {
    margin: 0 auto;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.olaf-description .olaf-logo {
    height: 8em;
    background: radial-gradient(ellipse, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 70%);
    padding: 100px;
    margin: -70px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.olaf {
    box-sizing: border-box;
    margin: 1em;
    min-width: 50%;

    text-align: center;
    text-decoration: none;
    font-size: 2em;
    
    border: 0.05em solid #0B3D91;
    border-radius: 30px;
    background: #e0e6f1;
    box-shadow: 1px 1px 2px #dadada;
    color: #0B3D91;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.olaf:hover {
    background: white;
    box-shadow: 0 0 0.3em 0 #0B3D91;
}
.olaf .olaf-logo {
    height: 80px;
    margin: 0.5em;
}

.note {
  color: var(--secondary-text);
  font-size: 0.8em;
}

.description {
    padding: 0 1.5em;
    text-align: left;
}
