Redirect 301 "/pds-staging/resource/orex/index.html" "https://arcnav.psi.edu/urn:nasa:pds:context:investigation:mission.orex"
Redirect 301 "/pds-staging/resource/orex/ocams.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:ocams.orex"
Redirect 301 "/pds-staging/resource/orex/ola.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:ola.orex"
Redirect 301 "/pds-staging/resource/orex/orexmission.html" "https://arcnav.psi.edu/urn:nasa:pds:orex.mission"
Redirect 301 "/pds-staging/resource/orex/otes.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:otes.orex"
Redirect 301 "/pds-staging/resource/orex/ovirs.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:ovirs.orex"
Redirect 301 "/pds-staging/resource/orex/tagcams.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:tagcams.orex"