<!DOCTYPE html>
<html lang="en">
<head>
     
    <base href="/pds/" />
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>SBIB | PDS Small Bodies Node | PDS SBN Asteroid/Dust Subnode</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="css/main20210813.css">
    <link rel="stylesheet" href="css/header20210331.css">
    <link rel="stylesheet" href="css/footer20210331.css">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    <!-- PDS Feedback Widget -->
    <!-- Only add JQuery if you do not already include a library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
    <link rel="stylesheet" href="feedback/css/feedback.css"  type="text/css" media="screen" />
    <script src="feedback/js/modernizr-custom.js"></script>
    <script src="feedback/js/config.js"></script>
    <script src="feedback/js/feedback.js"></script>
    <!-- -->


    </head>
<body>

    <!-- BEGIN sbn-header -->

<header>
    <div id="sbn-header">

        <div class="sbn-title-container">
            <div class="sbn-title"><a class="ignore-a-styling" href="http://pdssbn.astro.umd.edu/">PDS Small Bodies Node</a></div>
            <a class="sbn-subtitle ignore-a-styling" href="">Asteroid/Dust Subnode</a>
        </div>
        <div class="gradient-bar"></div>
    </div>
</header>
<nav>
    
    <div id="menu-backdrop"></div>
    <div id="menu-drawer">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
    </div>

    <div id="theme-switch">
        <label for="theme-switch-checkbox">
            <input type="checkbox" id="theme-switch-checkbox" />
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30" title="Change light/dark theme">
                <title>Change light/dark theme</title>
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M20 15.31L23.31 12 20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69zM12 18V6c3.31 0 6 2.69 6 6s-2.69 6-6 6z" />
            </svg>
      </label>
    </div>
    <div id="menu">
        <div class="menu-handle">
            <div>Find Data</div>
            <ul class="menu-list">
                <li><a href="">Archive Home</a></li>
                <li class="divider"></li>
                <li><a href="archive/data-types.html"> Browse by Data Type</a></li>
                <li><a href="archive/target-types.html"> Browse by Target Type</a></li>
                <li><a href="archive/missions.html"> Browse by Mission</a></li>
                <li class="divider"></li>
                <li><a href="ferret/">Ferret - Target Search</a></li>
                <li><a href="sbib/">SBIB - Image Search</a></li>
                <li><a href="https://catch.astro.umd.edu/">CATCH - Survey Search</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Archive Data</div>
            <ul class="menu-list">
                <li><a href="olafs">OLAF - Archive your data</a></li>
                <li><a href="sbnarchivinghowto.html">How to Archive</a></li>
                <li><a href="other_tools/pdf1a.html">PDF/A Tools</a></li>
                <li><a href="https://pds.nasa.gov/datastandards/documents/current-version.shtml">PDS4 Standards</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Support</div>
            <ul class="menu-list">
                <li><a href="support/">Support Home</a></li>
                <li class="divider"></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="support/Tips.html">Tips & Tricks Articles <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="24px" class="callout-svg-icon"><title>New!</title><path d="M0 0h24v24H0z" fill="none"/><path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg></a></li>
                <li><a href="support/FAQ.html">Frequently Asked Questions</a></li>
                <li><a href="support/Keyterms.html">Key Terms</a></li>
                <li><a href="support/Glossary.html">Full Glossary</a></li>
                <li class="divider"></li>
                <li><a href="https://pds.nasa.gov/home/proposers/">Information for Data Proposers</a></li>
                <li><a href="https://sbnwiki.astro.umd.edu/wiki/SBN_PDS4_Wiki">PDS4 Tutorials and Quick Ref</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/howto/understand.shtml">Using PDS Data</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>PDS Info</div>
            <ul class="menu-list">
                <li><a href="aboutastsubnode.html">About SBN Asteroid Subnode</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/">SBN Comet Subnode</a></li>
                <li><a href="http://pds.nasa.gov/">PDS Home</a></li>
            </ul>
        </div>
    </div>
    
<div id="search-bar" class="search-container">
    <div class="search-box" v-bind:class="{focused: focused}">
        <svg class="search-icon" viewBox="0 0 100 125">
            <path d="M35.285,8L85,28.228L52.303,70.575l-4.715-17.337C33,59.622,16.45,72.294,43.672,92c0,0-37.15-4.02-26.875-39.512    c0,0,4.692-16.873,23.799-24.958L35.285,8z" />
        </svg>
        <div class="input-field">
            <input tabindex="0" placeholder="Shortcut to data by keyword..." type="text" aria-label="Shortcut to data by keyword"
                v-model="query"
                v-on:focus="onFocus"
                v-on:keyup="keypress">
        </div>
    </div>
    <div class="search-filter" v-if="focused">
        <label class="toggle-option" v-bind:class="{focused: mode === 'asteroid'}">Asteroid/Dust <input type="radio" v-model="mode" value="asteroid"></label>
        <label class="toggle-option" v-bind:class="{focused: mode === 'pds'}">PDS <input type="radio" v-model="mode" value="pds"></label>
    </div>
    <ul class="search-results" v-if="query.length > 0 && focused">
        <template v-for="result in searchResults">
            <li class="search-result" >
                <a v-bind:href="result.url" v-bind:title="title(result)" tabindex="0">{{result.name}}</a>
            </li>
        </template>
        <p class="no-results" v-if="searchResults.length === 0">No results found</p>
        <p class="no-results" v-if="searchResults.length === 0">Need help finding something? <a href="contact.html">Contact Us</a></p>
    </ul>
</div>

</nav>


<!-- END sbn-header -->


    <main><div class="sbn-main " >
    <!-- BEGIN main content -->

    <link rel="stylesheet" href="sbib/css/style.css">


            <a class="return-breadcrumb ignore-a-styling" href="sbib/">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"/><path d="M24 24H0V0h24v24z" fill="none"/></svg>
                <span>Back to SBIB Home</span>
            </a>

            <!-- Content goes here -->

            <H1> About SBIB - Eros </H1>

<h3>
Eros Mission Phases (end to beginning) covered in SBIB and corresponding data levels <a href=https://sbnarchive.psi.edu/pds3/near/NEAR_A_MSI_3_EDR_EROS_ORBIT_V1_0/document/msical.txt>(details)</a>
</h3>
<table border=1 width=100%>
<col>
<col>
<col>
<col>
<col>
<thead>
 <tr> 
  <th align=left>Mission phase</th>
  <th align=left>Mission phase description</th>
  <th align=left> Mission phase days</th> 
  <th align=left> Data Level: IOFDBL</th>
  <th align=left> Data Level: CIFDBL</th>
 </tr>
 </thead>
 <tbody>
 <tr>
  <td> Landing</td> <td>Descent to Surface </td> <td> 2001-043 </td> <td> 2001-043 </td> <td></td>
 </tr>
 <tr>
 <td>35kmC</td> <td>Third 35km orbit</td> <td> 2001-029 to 2001-042 </td> <td>2001-029, 2001-032 to 2001-038, 2001-042</td> <td>2001-030  to 2001-031, 2001-039 to 201-041 </td>
</tr>
 <tr>
  <td> Low_alt2</td> <td>Second low altitude orbit </td> <td> 2001-026 to 2001-028</td> <td></td> <td>2001-026 to 2001-028 </td>
</tr>
<tr>
<td> 35kmB</td> <td>Second 35km orbit </td> <td> 2000-349 to 2001-025 </td> <td>2000-361, 2000-363 to 2000-364, 2001-009, 2001-017, 2001-020, 2001-022 to 2001-024 </td> <td> 2000-349 to 2000-360, 2000-362, 2000-365 to 2001-008, 2001-010 to 2001-016, 2001-018 to 2001-019, 2001-021, 2001-025 </td>
</tr>
<tr>
<td> Trans35B</td> <td>Transition to second 35km orbit</td> <td> 2000-343 to 2000-348 </td> <td> 2000-348</td> <td> 2000-343 to 2000-347</td>
</tr>
<tr>
<td> 200kmS</td> <td>200km South orbit</td> <td> 2000-308 to 2000-342 </td> <td>2000-308, 2000-342 </td> <td>2000-309 to 2000-341</td>
</tr>
<tr>
<td> Trans200S</td> <td>Transition to 200km South orbit </td> <td> 2000-302 to 2000-307</td> <td></td> <td>2000-302 to 2000-307</td>
</tr>
<tr>
<td> Low_alt1</td> <td>First low altitude orbit </td> <td>2000-300</td> <td></td> <td>2000-300 </td>
</tr>
<tr>
<td> Tango</td> <td>Irregular orbit to lower the altitude</td> <td> 2000-250 to 2000-299</td> <td>2000-252, 2000-261, 2000-268, 2000-299 </td> <td>2000-250 to 2000-251, 2000-253 to 2000-260, 2000-262 to 2000-267, 2000-269 to 2000-298 </td>
</tr>
<tr>
<td> 50kmC</td> <td>Third 50km orbit </td> <td>2000-246 to 2000-249 </td> <td></td> <td>2000-046 to 2000-049</td>
</tr>
<tr>
<td> Trans50C</td> <td>Transition to third 50km orbit</td> <td> 2000-242 to 2000-245 </td> <td> 2000-243, 2000-245</td> <td> 2000-242, 2000-244 </td>
</tr>
<tr>
<td> 100kmS</td> <td>100km South orbit</td> <td> 2000-240 to 2000-241</td> <td></td> <td>2000-240 to 2000-241</td>
</tr>
<tr>
<td> 50kmB</td> <td>Second 50km orbit </td> <td>2000-214 to 2000-238</td> <td></td> <td>2000-214 to 2000-238</td>
</tr>
<tr>
<td> Trans50B</td> <td>Transition to second 50km orbit </td> <td> 2000-207 to 2000-213</td> <td></td> <td>2000-207 to 2000-213 </td>
</tr>
<tr>
<td> 35kmA</td> <td>First 35km orbit </td> <td> 2000-196 to 2000-206 </td> <td>2000-196 to 2000-199</td> <td>2000-200 to 2000-206 </td>
</tr>
<tr>
<td> Trans35A</td> <td>Transition to first 35km orbit </td> <td>2000-190 to 2000-195</td> <td></td> <td>2000-190 to 2000-195</td>
</tr>
<tr>
<td> 50kmA</td> <td>First 50km orbit </td> <td>2000-122 to 2000-189 </td> <td> 2000-122 to 2000-142 </td> <td>2000-143 to 2000-189 </td>
</tr>
<tr>
<td> Trans50A</td> <td>Transition to first 50km orbit</td> <td> 2000-115 to 2000-121</td> <td>2000-115, 2000-119 to 2000-121 </td> <td> 2000-116 to 2000-118 </td>
</tr>
<tr>
<td> 100kmN</td> <td>100km North orbit </td> <td>2000-102 to 2000-114</td> <td>2000-102 to 2000-112</td> <td>2000-113 to 2000-114</td>
</tr>
<tr>
<td> Trans100N</td> <td>Transition to 100km North orbit </td> <td> 2000-095 to 2000-101</td> <td>  2000-095 to 2000-101</td> <td>
</tr>
<tr>
<td> 200kmN</td> <td>200km North orbit </td> <td>2000-063 to 2000-094</td> <td>2000-063 to 2000-068, 2000-075 to 2000-077, 2000-082 to 2000-092, 2000-094  </td> <td> 2000-069 to 2000-074, 2000-078 to 2000-081, 2000-093</td>
</tr>
<tr>
<td> Insert</td> <td>Aka Injection </td> <td>2000-046 to 2000-062</td> <td>2000-046 to 2000-049, 2000-051 to 2000-055, 2000-059, 2000-061 to 2000-062 </td> <td>2000-050, 2000-056 to 2000-058, 2000-060</td>
</tr>
<tr>
<td> Low_phase</td> <td>Low phase angle observation on approach </td> <td>2000-045</td> <td>2000-045</td> <td></td>
</tr>
</tbody>
</table>


<h2>Map Projection and Arc-GIS</h2>
Data can be imported into ArcMAP 10.1 by downloading the ISIS Map cubes.  
<BR>
All images (PNG and thumbnails) were generated
with an equirectangular projection.
 


<h2>Data processing</h2>
We used the USGS software tool <a href=http://isis.astrogeology.usgs.gov>Integrated Software for Imagers and Spectrometers (ISIS)</a>
as the main tool to process the data.  
We used the shape model posted at USGS and the ISIS
software routines to convert images into map-based projections.

<h2>Coordinates</h2>
All data for the MSI use the Western Longitude System. To comply with the IAU Standard, the correct longitude is 360 deg</td> <td>West longitude. Some other instruments follow a different convention, so it is highly recommended to consult <a href=https://sbn.psi.edu/pds/resource/near/NEAR_Coordinate_Systems.txt>this document</a> for details on the coordinate system.
<BR><BR>
   

         <!-- Content ends here -->

    <!-- END main content -->
    </div></main>

    <!-- BEGIN sbn-footer -->

<footer class="sbn-footer">
    <p class="sbn-footer-text">
        For questions about the data sets or this web site, contact Carol Neese (<a href="mailto:neese@psi.edu" class="link">neese@psi.edu</a>).
    </p>
</footer>

<div class="sbn-footer-extended">
    <aside class="sbn-footer-psi-container">
        <img src="images/PSI_Logo.png" alt="PSI Logo" title="PSI Logo" class="psi-logo">
        <span>Hosted by the Planetary Science Institute</span>
    </aside>
</div>

<!-- END sbn-footer -->


    


    <script src="js/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search-data.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts20210813.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
