Header set Access-Control-Allow-Origin "*"

### Caching

Header set Cache-Control "max-age=60, no-cache"

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
  Header set Cache-Control "max-age=63072000, public"
</FilesMatch>

### Redirects

# Redirect /pds/shape_models to /pds/shape-models
Redirect 301 /pds/shape_models/ /pds/shape-models/
Redirect 301 /pds/shape_models /pds/shape-models/

# Redirect old shape models page
Redirect 301 /pds/archive/shape.html /pds/shape-models/

# Redirect old Dawn urls
Redirect 301 /pds/resource/dwnfcmarscruisecal.html /pds/resource/dawn/dwnfcmarscruisecal.html
Redirect 301 /pds/resource/dwnvfc2.html /pds/resource/dawn/dwnvfcL1.html
Redirect 301 /pds/resource/dwnxvir.html /pds/resource/dawn/dwnxvir.html
Redirect 301 /pds/resource/dwnvvir.html /pds/resource/dawn/dwnvvirL1.html
Redirect 301 /pds/resource/dwncvir.html /pds/resource/dawn/dwncvirL1.html
Redirect 301 /pds/resource/dwnmgrd_1a.html /pds/resource/dawn/dwngrdmarscruise.html
Redirect 301 /pds/resource/dwnvgrd.html /pds/resource/dawn/dwnvgrdL1.html
Redirect 301 /pds/resource/dwncgrd.html /pds/resource/dawn/dwncgrdL1.html
Redirect 301 /pds/resource/dwnvgrs_0.html /pds/resource/dawn/dwnvgravL0.html
Redirect 301 /pds/resource/dwncgrs.html /pds/resource/dawn/dwncgravL0.html
Redirect 301 /pds/resource/dwnvfc2.html /pds/resource/dawn/dwnvfcmosaics.html
Redirect 301 /pds/resource/dwncfc2.html /pds/resource/dawn/dwncfcmosaics.html
Redirect 301 /pds/resource/dwnvvir.html /pds/resource/dawn/dwnvvirmaps.html
Redirect 301 /pds/resource/dwnvgrd.html /pds/resource/dawn/dwnvgrdmaps.html
Redirect 301 /pds/resource/dwncgrd.html /pds/resource/dawn/dwncgrdmaps.html
Redirect 301 /pds/resource/dwnvfc2.html /pds/resource/dawn/dwnvfcshape.html
Redirect 301 /pds/resource/dwncfc2.html /pds/resource/dawn/dwncfcshape.html
Redirect 301 /pds/resource/dwnvgrs_0.html /pds/resource/dawn/dwnvgravL2.html
Redirect 301 /pds/resource/dwncgrs.html /pds/resource/dawn/dwncgravL2.html

## Archive Navigator redirects

# Hayabusa

Redirect 301 /pds-staging/resource/archive/hayabusa.html https://arcnav.psi.edu/urn:nasa:pds:context:investigation:mission.hayabusa
Redirect 301 /pds-staging/resource/hayamica.html https://arcnav.psi.edu/urn:nasa:pds:context:instrument:amica.hay
Redirect 301 /pds-staging/resource/nirsraw.html https://arcnav.psi.edu/urn:nasa:pds:context:instrument:nirs.hay
Redirect 301 /pds-staging/resource/nirscal.html https://arcnav.psi.edu/urn:nasa:pds:context:instrument:nirs.hay
Redirect 301 /pds-staging/resource/haylidar.html https://arcnav.psi.edu/urn:nasa:pds:context:instrument:lidar.hay

# Hayabusa 2

Redirect 301 /pds-staging/resource/hayabusa2/index.html https://arcnav.psi.edu/urn:jaxa:darts:context:investigation:mission.hyb2
Redirect 301 /pds-staging/resource/hayabusa2/hyb2_mission.html https://arcnav.psi.edu/urn:jaxa:darts:hyb2
Redirect 301 /pds-staging/resource/hayabusa2/nirs3.html https://arcnav.psi.edu/urn:jaxa:darts:context:instrument:hyb2.nirs3

