Header set Access-Control-Allow-Origin "*"

### Caching

Header set Cache-Control "max-age=60, no-cache"

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
  Header set Cache-Control "max-age=63072000, public"
</FilesMatch>

### Redirects

# Redirect /pds/shape_models to /pds/shape-models
Redirect 301 /pds/shape_models/ /pds/shape-models/
Redirect 301 /pds/shape_models /pds/shape-models/

# Redirect old shape models page
Redirect 301 /pds/archive/shape.html /pds/shape-models/

# Redirect old Dawn urls
Redirect 301 /pds/resource/dwnfcmarscruisecal.html /pds/resource/dawn/dwnfcmarscruisecal.html
Redirect 301 /pds/resource/dwnvfc2.html /pds/resource/dawn/dwnvfcL1.html
Redirect 301 /pds/resource/dwnxvir.html /pds/resource/dawn/dwnxvir.html
Redirect 301 /pds/resource/dwnvvir.html /pds/resource/dawn/dwnvvirL1.html
Redirect 301 /pds/resource/dwncvir.html /pds/resource/dawn/dwncvirL1.html
Redirect 301 /pds/resource/dwnmgrd_1a.html /pds/resource/dawn/dwngrdmarscruise.html
Redirect 301 /pds/resource/dwnvgrd.html /pds/resource/dawn/dwnvgrdL1.html
Redirect 301 /pds/resource/dwncgrd.html /pds/resource/dawn/dwncgrdL1.html
Redirect 301 /pds/resource/dwnvgrs_0.html /pds/resource/dawn/dwnvgravL0.html
Redirect 301 /pds/resource/dwncgrs.html /pds/resource/dawn/dwncgravL0.html
Redirect 301 /pds/resource/dwnvfc2.html /pds/resource/dawn/dwnvfcmosaics.html
Redirect 301 /pds/resource/dwncfc2.html /pds/resource/dawn/dwncfcmosaics.html
Redirect 301 /pds/resource/dwnvvir.html /pds/resource/dawn/dwnvvirmaps.html
Redirect 301 /pds/resource/dwnvgrd.html /pds/resource/dawn/dwnvgrdmaps.html
Redirect 301 /pds/resource/dwncgrd.html /pds/resource/dawn/dwncgrdmaps.html
Redirect 301 /pds/resource/dwnvfc2.html /pds/resource/dawn/dwnvfcshape.html
Redirect 301 /pds/resource/dwncfc2.html /pds/resource/dawn/dwncfcshape.html
Redirect 301 /pds/resource/dwnvgrs_0.html /pds/resource/dawn/dwnvgravL2.html
Redirect 301 /pds/resource/dwncgrs.html /pds/resource/dawn/dwncgravL2.html

## Archive Navigator redirects

# Hayabusa

Redirect 301 /pds-staging/resource/archive/hayabusa.html https://arcnav.psi.edu/urn:nasa:pds:context:investigation:mission.hayabusa
Redirect 301 /pds-staging/resource/hayamica.html https://arcnav.psi.edu/urn:nasa:pds:context:instrument:amica.hay
Redirect 301 /pds-staging/resource/nirsraw.html https://arcnav.psi.edu/urn:nasa:pds:context:instrument:nirs.hay
Redirect 301 /pds-staging/resource/nirscal.html https://arcnav.psi.edu/urn:nasa:pds:context:instrument:nirs.hay
Redirect 301 /pds-staging/resource/haylidar.html https://arcnav.psi.edu/urn:nasa:pds:context:instrument:lidar.hay

# Hayabusa 2

Redirect 301 /pds-staging/resource/hayabusa2/index.html https://arcnav.psi.edu/urn:jaxa:darts:context:investigation:mission.hyb2
Redirect 301 /pds-staging/resource/hayabusa2/hyb2_mission.html https://arcnav.psi.edu/urn:jaxa:darts:hyb2
Redirect 301 /pds-staging/resource/hayabusa2/nirs3.html https://arcnav.psi.edu/urn:jaxa:darts:context:instrument:hyb2.nirs3

# OSIRIS-REx

Redirect 301 "/pds-staging/resource/orex/index.html" "https://arcnav.psi.edu/urn:nasa:pds:context:investigation:mission.orex"
Redirect 301 "/pds-staging/resource/orex/ocams.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:ocams.orex"
Redirect 301 "/pds-staging/resource/orex/ola.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:ola.orex"
Redirect 301 "/pds-staging/resource/orex/orexmission.html" "https://arcnav.psi.edu/urn:nasa:pds:orex.mission"
Redirect 301 "/pds-staging/resource/orex/otes.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:otes.orex"
Redirect 301 "/pds-staging/resource/orex/ovirs.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:ovirs.orex"
Redirect 301 "/pds-staging/resource/orex/tagcams.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:tagcams.orex"

# Dawn

Redirect 301 "/pds-staging/resource/dawn/index.html" "https://arcnav.psi.edu/urn:nasa:pds:context:investigation:mission.dawn_mission_to_vesta_and_ceres"
Redirect 301 "/pds-staging/resource/dawn/dawngrandPDS4.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.grand"
Redirect 301 "/pds-staging/resource/dawn/dwncfcL1.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.fc2"
Redirect 301 "/pds-staging/resource/dawn/dwncgrdL1.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.grand"
Redirect 301 "/pds-staging/resource/dawn/dwncvirL1.html" "hhttps://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.vir"
Redirect 301 "/pds-staging/resource/dawn/dwngrdmarscruise.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.grand"
Redirect 301 "/pds-staging/resource/dawn/dwnvfcL1.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.fc2"
Redirect 301 "/pds-staging/resource/dawn/dwnvgrdL1.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.grand"
Redirect 301 "/pds-staging/resource/dawn/dwnvvirL1.html" "hhttps://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.vir"
Redirect 301 "/pds-staging/resource/dawn/dwnxvir.html" "hhttps://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.vir"

# Near

Redirect 301 "/pds-staging/resource/near/index.html" "https://arcnav.psi.edu/urn:nasa:pds:context:investigation:mission.near_earth_asteroid_rendezvous"
Redirect 301 "/pds-staging/resource/near/msiinst.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:msi.near"
Redirect 301 "/pds-staging/resource/near/nisinst.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:nis.near"
Redirect 301 "/pds-staging/resource/near/grsinst.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:grs.near"
Redirect 301 "/pds-staging/resource/near/xrsinst.html" "hhttps://arcnav.psi.edu/urn:nasa:pds:context:instrument:xrs.near"
Redirect 301 "/pds-staging/resource/near/maginst.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:mag.near"
Redirect 301 "/pds-staging/resource/near/nlrinst.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:nlr.near"
Redirect 301 "/pds-staging/resource/near/rssinst.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:rss.near"