<!-- This file is only here to be referenced by cached versions of the website, and may be deleted after 09/2021 -->
<div id="search-bar" class="search-container">
    <div class="search-box" v-bind:class="{focused: focused}">
        <svg class="search-icon" viewBox="0 0 100 125">
            <path d="M35.285,8L85,28.228L52.303,70.575l-4.715-17.337C33,59.622,16.45,72.294,43.672,92c0,0-37.15-4.02-26.875-39.512    c0,0,4.692-16.873,23.799-24.958L35.285,8z" />
        </svg>
        <div class="input-field">
            <input tabindex="0" placeholder="Shortcut to data by keyword..." type="text" aria-label="Shortcut to data by keyword"
                v-model="query"
                v-on:focus="onFocus"
                v-on:keyup="keypress">
        </div>
    </div>
    <div class="search-filter" v-if="focused">
        <label class="toggle-option" v-bind:class="{focused: mode === 'asteroid'}">Asteroid/Dust <input type="radio" v-model="mode" value="asteroid"></label>
        <label class="toggle-option" v-bind:class="{focused: mode === 'pds'}">PDS <input type="radio" v-model="mode" value="pds"></label>
    </div>
    <ul class="search-results" v-if="query.length > 0 && focused">
        <template v-for="result in searchResults">
            <li class="search-result" >
                <a v-bind:href="result.url" v-bind:title="title(result)" tabindex="0">{{result.name}}</a>
            </li>
        </template>
        <p class="no-results" v-if="searchResults.length === 0">No results found</p>
        <p class="no-results" v-if="searchResults.length === 0">Need help finding something? <a href="contact.html">Contact Us</a></p>
    </ul>
</div>
