<div class="search-container">
    <div class="search-box paper" ng-class="{focused: view.focused}">
        <svg class="search-icon" viewBox="0 0 24 24" fill="#FDFDFD">
            <path
                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
            </path>
        </svg>
        <div class="input-field">
            <input placeholder="Search for data..." type="text" aria-label="search for data"
                ng-model="view.query"
                ng-focus="view.focused = true"
                ng-blur="view.focused = false">
            </div>
    </div>
    <div class="search-results" ng-if="view.query.length > 0">
        <div class="search-result paper" ng-repeat="result in filteredResults = (view.searchData | filter: view.query)">
            <a ng-href="{{result.url}}">{{result.name}}</a>
            <p>{{result.description ? result.description : result.subtitle}}</p>
        </div>
        <p ng-if="filteredResults.length === 0">No results for this search</p>
    </div>
</div>