<!DOCTYPE html>
<html lang="en" ng-app="ShapeModelTable">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>PDS Asteroid/Dust Archive</title>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="/pds/css/sbn-header.css">
    <link rel="stylesheet" href="/pds/css/sbn-sidebar.css">
    <link rel="stylesheet" href="/pds/css/sbn-footer.css">
    <link rel="stylesheet" href="/pds/css/project-main.css">
    <link rel="stylesheet" href="/pds/css/shape-models-page.css">

    <!-- PDS Feedback Widget -->
    <!-- Only add JQuery if you do not already include a library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
    <link rel="stylesheet" href="/pds/feedback/css/feedback.css"  type="text/css" media="screen" />
    <script src="/pds/feedback/js/modernizr-custom.js"></script>
    <script src="/pds/feedback/js/config.js"></script>
    <script src="/pds/feedback/js/feedback.js"></script> -->
    <!-- -->
</head>
<body>

    <div include-html="/pds/sbn-header.html"></div>

    <!-- BEGIN main content -->
    <main class="sbn-main" ng-controller="ShapeModels">
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="Bodies.js" charset="utf-8"></script>
        <script src="js/asteroids.js" charset="utf-8"></script>
        <script src="js/comets.js" charset="utf-8"></script>
        <script src="js/satellites.js" charset="utf-8"></script>
        <script src="app.js" charset="utf-8" async defer></script> -->

        <script src="/pds/shape-models/js/angular/angular.js"></script>
        <script src="/pds/shape-models/js/app.ShapeModels.js"></script>
        <script src="/pds/shape-models/js/app.Data.js"></script>
        <script src="/pds/shape-models/js/app.Datasets.js"></script>

        <h1 id="title">Shape Models of Asteroids, Comets, and Satellites</h1>

        <p>The scripts used to generate the following .obj files are available in the <a href="https://github.com/sbn-psi/data-tools/tree/master/shapes" target="_blank">SBN GitHub repo</a>.</p>

        <section id="shape-models-main">
            <div id="search">
                <label for="query">Search: </label>
                <input type="text" name="query" id="query" autofocus>
                <p class="input-text">Enter the name or number of an asteroid, comet, or satellite.</p>
            </div>
    
            <table class="table" id="shape-model-table">
                <tr class="row header">
                    <th class="cell cell-md">Object Name</th>
                    <th class="cell">Data Ferret Search</th>
                    <th class="cell cell-lg">Full Datasets with Documentation</th>
                    <th class="cell" colspan="2">Available Downloads</th>
                </tr>

                <!-- ASTEROIDS -->
                <tr class="row category" id="asteroids">
                    <th class="cell" colspan="5"><h3>Asteroids ({{ view.asteroids.length }})</h3></th>
                </tr>
                <tr class="row sbn-body" ng-repeat-start="asteroid in view.asteroids" ng-class-even="'even'">
                    <td class="cell" rowspan='{{asteroid.datasets.length}}'>{{ asteroid.name }}</td>
                    <td class="cell centered" rowspan='{{asteroid.datasets.length}}'><ferret-link object-name="asteroid.name"></ferret-link></td>
                    <td class="cell"><a href="{{asteroid.datasets[0].link}}">{{ asteroid.datasets[0]['name']}}</a></td>
                    <td class="cell centered"><file-download file-to-download="asteroid.datasets[0]['files']['data']['primary']"></file-download></td>
                    <td class="cell centered"><file-download file-to-download="asteroid.datasets[0]['files']['data']['derived']"></file-download></td>
                </tr>
                <tr class="row sbn-body" ng-repeat-end ng-repeat="dataset in asteroid.datasets.slice(1)">
                    <td class="cell"><a href="{{dataset.link}}">name: {{ dataset.name }}</a></td>
                    <td class="cell centered"><file-download file-to-download="dataset['files']['data']['primary']"></file-download></td>
                    <td class="cell centered"><file-download file-to-download="dataset['files']['data']['derived']"></file-download></td>
                </tr>
                
                <!-- COMETS -->
                <tr class="row category" id="comets">
                    <th class="cell" colspan="5"><h3>Comets ({{ view.comets.length }})</h3></th>
                </tr>
                <tr class="row sbn-body" ng-repeat-start="comet in view.comets" ng-class-even="'even'">
                    <td class="cell" rowspan='{{comet.datasets.length}}'>{{ comet.name }}</td>
                    <td class="cell centered"><ferret-link object-name="comet.name"></ferret-link></td>
                    <td class="cell"><a href="{{comet.datasets[0].link}}">{{ comet.datasets[0]['name']}}</a></td>
                    <td class="cell centered"><file-download file-to-download="comet.datasets[0]['files']['data']['primary']"></file-download></td>
                    <td class="cell centered"><file-download file-to-download="comet.datasets[0]['files']['data']['derived']"></file-download></td>
                </tr>
                <tr class="row sbn-body" ng-repeat-end ng-repeat="dataset in comet.datasets.slice(1)">
                    <td class="cell"><a href="{{dataset.link}}">{{ dataset.name }}</a></td>
                    <td class="cell centered"><file-download file-to-download="dataset['files']['data']['primary']"></file-download></td>
                    <td class="cell centered"><file-download file-to-download="dataset['files']['data']['derived']"></file-download></td>
                </tr>
                
                <!-- PLANETARY SATELLITES -->
                <tr class="row category" id="satellites">
                    <th class="cell" colspan="5"><h3>Planetary Satellites ({{ view.satellites.length }})</h3></th>
                </tr>
                <tr class="row sbn-body" ng-repeat-start="satellite in view.satellites" ng-class-even="'even'">
                    <td class="cell" rowspan='{{satellite.datasets.length}}'>{{ satellite.name }}</td>
                    <td class="cell centered" rowspan='{{satellite.datasets.length}}'><ferret-link object-name="satellite.name"></ferret-link></td>
                    <td class="cell"><a href="{{satellite.datasets[0].link}}">{{ satellite.datasets[0]['name']}}</a></td>
                    <td class="cell centered"><file-download file-to-download="satellite.datasets[0]['files']['data']['primary']"></file-download></td>
                    <td class="cell centered"><file-download file-to-download="satellite.datasets[0]['files']['data']['derived']"></file-download></td>
                </tr>
                <tr class="row sbn-body" ng-repeat-end ng-repeat="dataset in satellite.datasets.slice(1)">
                    <td class="cell"><a href="{{dataset.link}}">name: {{ dataset.name }}</a></td>
                    <td class="cell centered"><file-download file-to-download="dataset['files']['data']['primary']"></file-download></td>
                    <td class="cell centered"><file-download file-to-download="dataset['files']['data']['derived']"></file-download></td>
                </tr>
            </table>
        </section>

    </main>
    <!-- END main content -->

    <div include-html="/pds/sbn-sidebar.html"></div>

    <div include-html="/pds/sbn-footer.html"></div>


    <script src="/pds/js/sbn-scripts.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>
