<tr>
    <td style="padding:0;">
        <table style="width:100%;margin:0;border:none;">
            <tr class="object-name-row"><td colspan="4" style="border-top:none;border-bottom:none;">{{model.name}}</td></tr>
        </table>
    </td>
</tr>

{% for dataset in model.datasets %}
<tr>
    <td style="border-top:none;border-bottom:none;">
        <table style="width:90%;margin:0.5em auto 0;">
        <tbody>
            <tr class="dataset-row">
                <td colspan="2">{{ dataset.name }}</td>
                <td><a href="{{ dataset.link }}" target="_blank">Visit Resource Page</a></td>
                <td><a href="{{ dataset.archive_product.archive_path }}" target="_blank">Browse Archived Files</a></td>
            </tr>
        </tbody>
        </table>

        {% if dataset.related_files %}
        <details>
            <summary>
                <table style="width:90%; margin:0 auto 0.5em;">
                    <tr>
                        <td>Show Related Files</td>
                    </tr>
                </table>
            </summary>
            <table style="width:90%; margin:0.5em auto;">
                <thead>
                    <th>Related File Type</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for file in dataset.related_files %}
                    <tr>
                        <td>{{ file.name }}</td>
                        <td><a href="{{ file.url }}" target="_blank">Download Related File</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </details>
        {% endif %}
    </td>
</tr>
{% endfor %}