<style>
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--raised-content);
  }

  th, td {
    padding: 0.5em;
    border: 1px solid #ccc;
  }

  details {
    margin: 0;
  }

  summary {
    cursor: pointer;
    font-weight: bold;
    list-style: none;
  }

  .preview-img {
    max-width: 150px;
    height: auto;
  }

  .dataset-row {
    background-color: var(--section-header);
  }
  
  .related {
    background-color: var(--hr);
  }
</style>

<table style="width:100%;">
  <thead>
    <tr>
      <th><h3>Asteroids ({{ site.data.shape_models_sample.asteroids.size }})</h3></th>
    </tr>
  </thead>
  <tbody>
    {% assign all_objects = site.data.shape_models_sample.asteroids %}
    {% for model in all_objects %}
      {% include shape-model.html %}
    {% endfor %}
  </tbody>
</table>