<style>
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--raised-content);
  }

  th, td {
    padding: 0.5em;
    border: 1px solid #ccc;
  }

  summary {
    cursor: pointer;
    list-style: none;
  }

  .object-name-row {
    background-color: var(--section-header);
  }

  .target-type-header {
    margin: 0.5em 0;
  }
  
  .dataset-row {
    background-color: var(--hr);
  }
</style>

<table style="width:100%;">
  <thead>
    <tr>
      <th style="border-bottom: none;"><h3 class="target-type-header">Asteroids ({{ site.data._asteroids.size }})</h3></th>
    </tr>
  </thead>
  <tbody>
    {% assign all_objects = site.data._asteroids %}
    {% for model in all_objects %}
      {% include shape-model.html %}
    {% endfor %}
  </tbody>
</table>
<table style="width:100%;">
  <thead>
    <tr>
      <th><h3 class="target-type-header">Comets ({{ site.data._comets.size }})</h3></th>
    </tr>
  </thead>
  <tbody>
    {% assign all_objects = site.data._comets %}
    {% for model in all_objects %}
      {% include shape-model.html %}
    {% endfor %}
  </tbody>
</table>
<table style="width:100%;">
  <thead>
    <tr>
      <th><h3 class="target-type-header">Satellites ({{ site.data._satellites.size }})</h3></th>
    </tr>
  </thead>
  <tbody>
    {% assign all_objects = site.data._satellites %}
    {% for model in all_objects %}
      {% include shape-model.html %}
    {% endfor %}
  </tbody>
</table>