<!DOCTYPE html>
<html lang="en">
<head>
     
    <base href="/pds/" />
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>SBIB | PDS Small Bodies Node | PDS SBN Asteroid/Dust Subnode</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="css/main20210813.css">
    <link rel="stylesheet" href="css/header20210331.css">
    <link rel="stylesheet" href="css/footer20210331.css">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    <!-- PDS Feedback Widget -->
    <!-- Only add JQuery if you do not already include a library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
    <link rel="stylesheet" href="feedback/css/feedback.css"  type="text/css" media="screen" />
    <script src="feedback/js/modernizr-custom.js"></script>
    <script src="feedback/js/config.js"></script>
    <script src="feedback/js/feedback.js"></script>
    <!-- -->


    </head>
<body>

    <!-- BEGIN sbn-header -->

<header>
    <div id="sbn-header">

        <div class="sbn-title-container">
            <div class="sbn-title"><a class="ignore-a-styling" href="http://pdssbn.astro.umd.edu/">PDS Small Bodies Node</a></div>
            <a class="sbn-subtitle ignore-a-styling" href="">Asteroid/Dust Subnode</a>
        </div>
        <div class="gradient-bar"></div>
    </div>
</header>
<nav>
    
    <div id="menu-backdrop"></div>
    <div id="menu-drawer">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
    </div>

    <div id="theme-switch">
        <label for="theme-switch-checkbox">
            <input type="checkbox" id="theme-switch-checkbox" />
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30" title="Change light/dark theme">
                <title>Change light/dark theme</title>
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M20 15.31L23.31 12 20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69zM12 18V6c3.31 0 6 2.69 6 6s-2.69 6-6 6z" />
            </svg>
      </label>
    </div>
    <div id="menu">
        <div class="menu-handle">
            <div>Find Data</div>
            <ul class="menu-list">
                <li><a href="">Archive Home</a></li>
                <li class="divider"></li>
                <li><a href="archive/data-types.html"> Browse by Data Type</a></li>
                <li><a href="archive/target-types.html"> Browse by Target Type</a></li>
                <li><a href="archive/missions.html"> Browse by Mission</a></li>
                <li class="divider"></li>
                <li><a href="ferret/">Ferret - Target Search</a></li>
                <li><a href="sbib/">SBIB - Image Search</a></li>
                <li><a href="https://catch.astro.umd.edu/">CATCH - Survey Search</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Archive Data</div>
            <ul class="menu-list">
                <li><a href="olafs">OLAF - Archive your data</a></li>
                <li><a href="sbnarchivinghowto.html">How to Archive</a></li>
                <li><a href="other_tools/pdf1a.html">PDF/A Tools</a></li>
                <li><a href="https://pds.nasa.gov/datastandards/documents/current-version.shtml">PDS4 Standards</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Support</div>
            <ul class="menu-list">
                <li><a href="support/">Support Home</a></li>
                <li class="divider"></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="support/Tips.html">Tips & Tricks Articles <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="24px" class="callout-svg-icon"><title>New!</title><path d="M0 0h24v24H0z" fill="none"/><path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg></a></li>
                <li><a href="support/FAQ.html">Frequently Asked Questions</a></li>
                <li><a href="support/Keyterms.html">Key Terms</a></li>
                <li><a href="support/Glossary.html">Full Glossary</a></li>
                <li class="divider"></li>
                <li><a href="https://pds.nasa.gov/home/proposers/">Information for Data Proposers</a></li>
                <li><a href="https://sbnwiki.astro.umd.edu/wiki/SBN_PDS4_Wiki">PDS4 Tutorials and Quick Ref</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/howto/understand.shtml">Using PDS Data</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>PDS Info</div>
            <ul class="menu-list">
                <li><a href="aboutastsubnode.html">About SBN Asteroid Subnode</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/">SBN Comet Subnode</a></li>
                <li><a href="http://pds.nasa.gov/">PDS Home</a></li>
            </ul>
        </div>
    </div>
    
<div id="search-bar" class="search-container">
    <div class="search-box" v-bind:class="{focused: focused}">
        <svg class="search-icon" viewBox="0 0 100 125">
            <path d="M35.285,8L85,28.228L52.303,70.575l-4.715-17.337C33,59.622,16.45,72.294,43.672,92c0,0-37.15-4.02-26.875-39.512    c0,0,4.692-16.873,23.799-24.958L35.285,8z" />
        </svg>
        <div class="input-field">
            <input tabindex="0" placeholder="Shortcut to data by keyword..." type="text" aria-label="Shortcut to data by keyword"
                v-model="query"
                v-on:focus="onFocus"
                v-on:keyup="keypress">
        </div>
    </div>
    <div class="search-filter" v-if="focused">
        <label class="toggle-option" v-bind:class="{focused: mode === 'asteroid'}">Asteroid/Dust <input type="radio" v-model="mode" value="asteroid"></label>
        <label class="toggle-option" v-bind:class="{focused: mode === 'pds'}">PDS <input type="radio" v-model="mode" value="pds"></label>
    </div>
    <ul class="search-results" v-if="query.length > 0 && focused">
        <template v-for="result in searchResults">
            <li class="search-result" >
                <a v-bind:href="result.url" v-bind:title="title(result)" tabindex="0">{{result.name}}</a>
            </li>
        </template>
        <p class="no-results" v-if="searchResults.length === 0">No results found</p>
        <p class="no-results" v-if="searchResults.length === 0">Need help finding something? <a href="contact.html">Contact Us</a></p>
    </ul>
</div>

</nav>


<!-- END sbn-header -->


    <main><div class="sbn-main " >
    <!-- BEGIN main content -->

    <link rel="stylesheet" href="sbib/css/style.css">


            <a class="return-breadcrumb ignore-a-styling" href="sbib/">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"/><path d="M24 24H0V0h24v24z" fill="none"/></svg>
                <span>Back to SBIB Home</span>
            </a>

            <H1> SBIB - Details </H1>

            <img width=100% alt="Screen Shot" src="sbib/images/SBIB-help.png">


            <p>
                Note: The Small Bodies Browser (SBIB) is not an analytical tool but to find useful images, download them
                and use other tools.
            </p>

            <h2 >
                Image Selection Options
            </h2>

            SBIB is designed for exploring data in several ways: <B>Search</B> by <B>image name</B>,
            <B>show a sequence</B> of images,
            <B>search</B> for images near a <B>location or region</B>.
            <UL >
                <LI><B>'Search Name'</B>: This lists all the images with any portion matching the name.
                <LI><B>'Show Sequence'</B>: This
                    lists all the images that match the sequences selected
                    (such as Survey). The mission phases
                    contain a large amount of data. It is recommended to select a specific cycle (such as Survey Cycle1)
                    rather than the entire sequence.
                <LI><B>Search on the map</B>: This searches for images that contain the coordinates.
                    These can either be entered in the Latitude and Longitude (in positive east coordinates) boxes or by
                    clicking on the "Map" region for a specific location. An "X" will appear where the search
                    coordinates
                    are located. Instead of a specific location, an area can be selected by dragging the cursor to
                    create a box. The coordinates will be listed in the Latitude/Longitude boxes.
            </UL>



            <H4 >
                Search Filters
            </H4>
            <p >
                The search filters do not apply to the 'Search Name' button.
                Using the "Search" area (see figure above), a variety of
                criteria can be selected to limit the number of images listed. Once selected, the 'Search' button has to
                be clicked to activate the filter. If more than one filter is selected, <B>all</B> of the criteria are
                met for selecting the images.
            </p>
            <UL >
                <LI><B>Instrument</B>: Chooses all, several, or only one specific instrument. (Note that for Eros, only
                    one instrument is available in SBIB).
                <LI><B>Resolution</B>: Selects all images with a resolution (in meters) &le; the value provided.
                <LI><B>'Show Sequence'</B>: Selects one or multiple sequences (or mission phases) by clicking the
                    appropriate box(es).
                    Double clicking on the text of a sequence title (e.g. HAMO Cycle 2) deselects all the other entries.
            </UL>
            <BR>

            <h2 >
                "Image List" <span style="font-weight:normal">(see figure above)</span>
            </h2>
            Once a list of images has been selected, several options are available.
            <UL >
                <LI><B>Sorting the "Image List"</B>: The "Image List" can be sorted by clicking on the headers (e.g.
                    Name, Inst).
                <LI><B>Footprints</B>: The map shows footprints of the selected image(s). Multiple images can be
                    selected by
                    using shift or control click. 'All' and 'None' buttons that will
                    select everything and nothing are also provided.
                <LI><B>'List'</B>: lists the information of the "Image List" in a pop-up window that can be cut and
                    pasted into a file.
                <LI><B>'About'</B>: opens a new tab (or window) with details about the data (mission phases, data
                    processing and coordinate systems used in SBIB).
                <LI><B>Quick Review of the Surface.</B>:
                    Clicking the first record in the "Image List", shows the footprint and
                    preview. Using the keyboard's down arrow each image and its corresponding footprint can be displayed
                    quickly, and the entire "Image List" can be scrolled through.
                <LI><B>"Preview"</B> (see figure above): a jpg preview is displayed on the
                    right hand side of the window. The preview image can be changed from 'Frame'
                    (the view that the camera had) to 'Projected' (a map projected view).
                    The preview images may have a polar projection (where available) if they are located near the poles,
                    and
                    their orientation matches the footprint shown on the Map.
                <LI><B>"Download"</B>: Several
                    weblinks are active. One-click download for whichever
                    desired data products is provided.
                    The derived data products (such as ISIS cubes, PNG, etc) will be based
                    on the best quality data available.
                    <UL>
                        <LI>ISIS Cube, Frame.
                        <LI>ISIS Cube, Projected (import into ArcMAP 10.1).
                        <LI>IMG format. Original format from the instrument team, level 1A (and 1B when available).
                        <LI>FITS format, level 1A (and 1B when available).
                        <LI>PNG, Frame (as the spacecraft camera saw it).
                        <LI>PNG, Projected (map projected).
                        <LI>Info: This provides the camera and field of view metadata,
                            such as date, incidence, emission and phase angles,
                            spacecraft position, Sun position, center latitude and longitude.
                        <LI>ENVI: For VIR data, this will provide the images and headers.
                            needed to load the image into ENVI.
                    </UL>
            </UL>
            <BR>


            <h2 >
                Map
            </h2>
            The map display shows the surface of the object with additional options.
            <UL >
                <LI><B>'Change Map'</B>: Different Maps are available and can be selected from the box.
                <LI><B>'Grid'</B>: Displays a longitude and latitude grid.
                <LI><B>'Quads'</B>: Displays quads where available.
                <LI><B>'Titles'</B>: Provides labels: provides the image name on the map if an image was selected;
                    labels longitude and latitude if 'Grid' is selected, and names the quads if 'Quad' is selected.
                <LI><B>'Features'</B>: displays the name of surface features where available.
            </UL>
            <BR>


            <h2 >
                Notes
            </h2>
            <UL >
                <LI>The images have been projected either as an equirectangular
                    or as a polar projection. The table list which one was used. The footprint
                    matches the projected image when the similar map is used. For example, if an image was
                    projected as PolarStereographic, then it will render correctly on a map of the pole, but
                    be skewed when compared to the equatorial map. Images of the poles would be unnecessarily
                    large if they were projected as equirectangular.
                <LI> Some images are rotated so North is no longer up. Images of either of the poles that are projected
                    in PolarStereographic
                    projections do not have a normal pole. The North pole does not have a North, and
                    the edges of the image all point to North. Because of this
                    confusion, the projected images are oriented to match the footprints.
            </UL>
            <BR><BR>

        </div>


    <!-- END main content -->
    </div></main>

    <!-- BEGIN sbn-footer -->

<footer class="sbn-footer">
    <p class="sbn-footer-text">
        For questions about the data sets or this web site, contact Carol Neese (<a href="mailto:neese@psi.edu" class="link">neese@psi.edu</a>).
    </p>
</footer>

<div class="sbn-footer-extended">
    <aside class="sbn-footer-psi-container">
        <img src="images/PSI_Logo.png" alt="PSI Logo" title="PSI Logo" class="psi-logo">
        <span>Hosted by the Planetary Science Institute</span>
    </aside>
</div>

<!-- END sbn-footer -->


    


    <script src="js/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search-data.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts20210813.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
