<!DOCTYPE html>
<html lang="en">
<head>
     
    <base href="/pds/" />
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Gaining Citations | PDS SBN Asteroid/Dust Subnode</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="css/main20210813.css">
    <link rel="stylesheet" href="css/header20210331.css">
    <link rel="stylesheet" href="css/footer20210331.css">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    <!-- PDS Feedback Widget -->
    <!-- Only add JQuery if you do not already include a library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
    <link rel="stylesheet" href="feedback/css/feedback.css"  type="text/css" media="screen" />
    <script src="feedback/js/modernizr-custom.js"></script>
    <script src="feedback/js/config.js"></script>
    <script src="feedback/js/feedback.js"></script>
    <!-- -->


    </head>
<body>

    <!-- BEGIN sbn-header -->

<header>
    <div id="sbn-header">

        <div class="sbn-title-container">
            <div class="sbn-title"><a class="ignore-a-styling" href="http://pdssbn.astro.umd.edu/">PDS Small Bodies Node</a></div>
            <a class="sbn-subtitle ignore-a-styling" href="">Asteroid/Dust Subnode</a>
        </div>
        <div class="gradient-bar"></div>
    </div>
</header>
<nav>
    
    <div id="menu-backdrop"></div>
    <div id="menu-drawer">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
    </div>

    <div id="theme-switch">
        <label for="theme-switch-checkbox">
            <input type="checkbox" id="theme-switch-checkbox" />
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30" title="Change light/dark theme">
                <title>Change light/dark theme</title>
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M20 15.31L23.31 12 20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69zM12 18V6c3.31 0 6 2.69 6 6s-2.69 6-6 6z" />
            </svg>
      </label>
    </div>
    <div id="menu">
        <div class="menu-handle">
            <div>Find Data</div>
            <ul class="menu-list">
                <li><a href="">Archive Home</a></li>
                <li class="divider"></li>
                <li><a href="archive/data-types.html"> Browse by Data Type</a></li>
                <li><a href="archive/target-types.html"> Browse by Target Type</a></li>
                <li><a href="archive/missions.html"> Browse by Mission</a></li>
                <li class="divider"></li>
                <li><a href="ferret/">Ferret - Target Search</a></li>
                <li><a href="sbib/">SBIB - Image Search</a></li>
                <li><a href="https://catch.astro.umd.edu/">CATCH - Survey Search</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Archive Data</div>
            <ul class="menu-list">
                <li><a href="olafs">OLAF - Archive your data</a></li>
                <li><a href="sbnarchivinghowto.html">How to Archive</a></li>
                <li><a href="other_tools/pdf1a.html">PDF/A Tools</a></li>
                <li><a href="https://pds.nasa.gov/datastandards/documents/current-version.shtml">PDS4 Standards</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Support</div>
            <ul class="menu-list">
                <li><a href="support/">Support Home</a></li>
                <li class="divider"></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="support/Tips.html">Tips & Tricks Articles <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="24px" class="callout-svg-icon"><title>New!</title><path d="M0 0h24v24H0z" fill="none"/><path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg></a></li>
                <li><a href="support/FAQ.html">Frequently Asked Questions</a></li>
                <li><a href="support/Keyterms.html">Key Terms</a></li>
                <li><a href="support/Glossary.html">Full Glossary</a></li>
                <li class="divider"></li>
                <li><a href="https://pds.nasa.gov/home/proposers/">Information for Data Proposers</a></li>
                <li><a href="https://sbnwiki.astro.umd.edu/wiki/SBN_PDS4_Wiki">PDS4 Tutorials and Quick Ref</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/howto/understand.shtml">Using PDS Data</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>PDS Info</div>
            <ul class="menu-list">
                <li><a href="aboutastsubnode.html">About SBN Asteroid Subnode</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/">SBN Comet Subnode</a></li>
                <li><a href="http://pds.nasa.gov/">PDS Home</a></li>
            </ul>
        </div>
    </div>
    
<div id="search-bar" class="search-container">
    <div class="search-box" v-bind:class="{focused: focused}">
        <svg class="search-icon" viewBox="0 0 100 125">
            <path d="M35.285,8L85,28.228L52.303,70.575l-4.715-17.337C33,59.622,16.45,72.294,43.672,92c0,0-37.15-4.02-26.875-39.512    c0,0,4.692-16.873,23.799-24.958L35.285,8z" />
        </svg>
        <div class="input-field">
            <input tabindex="0" placeholder="Shortcut to data by keyword..." type="text" aria-label="Shortcut to data by keyword"
                v-model="query"
                v-on:focus="onFocus"
                v-on:keyup="keypress">
        </div>
    </div>
    <div class="search-filter" v-if="focused">
        <label class="toggle-option" v-bind:class="{focused: mode === 'asteroid'}">Asteroid/Dust <input type="radio" v-model="mode" value="asteroid"></label>
        <label class="toggle-option" v-bind:class="{focused: mode === 'pds'}">PDS <input type="radio" v-model="mode" value="pds"></label>
    </div>
    <ul class="search-results" v-if="query.length > 0 && focused">
        <template v-for="result in searchResults">
            <li class="search-result" >
                <a v-bind:href="result.url" v-bind:title="title(result)" tabindex="0">{{result.name}}</a>
            </li>
        </template>
        <p class="no-results" v-if="searchResults.length === 0">No results found</p>
        <p class="no-results" v-if="searchResults.length === 0">Need help finding something? <a href="contact.html">Contact Us</a></p>
    </ul>
</div>

</nav>


<!-- END sbn-header -->


    <main><div class="sbn-main " >
    <!-- BEGIN main content -->

    <ol class="breadcrumbs">
    <li><a href="">Home</a></li>
    <li class="breadcrumbs-separator">/</li>
    <li><a href="support/">Support</a></li>
    <li class="breadcrumbs-separator">/</li>
    <li><a href="support/Tips.html">Tips & Tricks</a></li>
    <li class="breadcrumbs-separator">/</li>
    <li><a href="support/archiving-tips/">Archiving Tips</a></li>
    <li class="breadcrumbs-separator">/</li>
    <li>Gaining Citations</li>
</ol> 
<br/>

<h1 class="post-title">Gaining Citations</h1>
<p class="post-subtitle secondary">Oct 05, 2021 
    
</p>

<p class="secondary"><em> Part of a series on <a href="support/archiving-tips/">Archiving Tips</a> </em></p>


<div class="social-post">
    <p>It is invaluable to allow other scientists access to our data to validate our results (a core component of the scientific method) and allow our data to be built upon.  While archiving data is critically important, it has the very real impact that it takes away from doing new research and publishing refereed journal papers – which is also critically important, thus the old adage, “publish or perish”.</p>

<p>What you may not know is that all datasets that are archived in the PDS are refereed published works.  PDS archived datasets have been given a detailed review for both technical content and scientific value by both the PDS staff and external reviewers.  As such, these datasets are counted and cited as published works.  ADS(https://ui.adsabs.harvard.edu) lists them as refereed publications, and when they are cited by other works, they are counted in the number of citations the dataset has.</p>

<h2 id="enter-the-doi">Enter the DOI</h2>

<p>In order to make this work, the PDS generates DOI (Digital Object Identifier) for all archived datasets. A DOI is a resolvable persistent web link to the current information about that object, including where the object, or information about it, can be found on the Internet. This makes them very easy to use because all you have to do is click on the DOI link to view the data set. DOIs are also permanent so they will be a reliable citation for years and years to come. They provide not only the basic citation ability, but additional metadata to help support “F.A.I.R” practices (findability, accessibility, interoperability, and reusability). We use Datacite(https://datacite.org) to “mint” the DOIs for our datasets. Each DOI is assigned a unique name (which is a series of numbers) and made available to the public after the data set is archived. </p>

<h2 id="what-do-you-have-to-do-to-get-a-doi-when-you-archive-a-dataset">What do you have to do to get a DOI when you archive a dataset?</h2>

<p>Absolutely nothing – the PDS does it all for you.  We use the data provided during the archiving process to generate the DOI.  We maintain the DOI and its required permanent landing pages, we notify ADS of the published dataset and its DOI, and we post the DOI on the datasets website page.</p>

<h2 id="what-should-you-do-if-you-use-a-pds-dataset">What should you do if you use a PDS dataset?</h2>

<p>If you find yourself using a PDS dataset, you can expect that the author of that dataset would appreciate getting credit for not only their hard work, but also for the effort of archiving it.  You can do the author and yourself a favor by citing the dataset by using a DOI.  This does several things:  the author gets credit for their work.  The PDS gets statistics on the academic use of their datasets.  You make your paper more useful because you’ve made it easy for anyone who wants to access the data that you discussed in the paper to find it.</p>

<p>To cite a PDS data set via DOI simply add the DOI URL to the end of the formal data set citation. Thats it!</p>

<h2 id="why-do-we-use-them-where-are-they">Why do we use them? Where are they?</h2>

<p>There are two major reasons for DOIs for data sets: To give credit to the data provider who spends quite some time to archive the data (remember, an archive is not a data dump; there are standards to be followed) and to make it easier for people to cite the data sets and to make sure that the particular data set can be easily found (especially if there are several versions of a data set). Why a DOI and not just any other citation? DOIs are permanent.  Their links will never go away.</p>

<h2 id="now-you-know-the-deal-with-dois">Now you know the Deal with DOIs</h2>

<p>Both data providers and data users are able to benefit from the DOI citation model. At PDS we archive data for longevity and DOI citations are made for just that purpose. In addition they also provide more useful metadata which can ease with data searches and usage. They way we see it, by using DOIs everyone benefits.</p>

</div>


    <!-- END main content -->
    </div></main>

    <!-- BEGIN sbn-footer -->

<footer class="sbn-footer">
    <p class="sbn-footer-text">
        For questions about the data sets or this web site, contact Carol Neese (<a href="mailto:neese@psi.edu" class="link">neese@psi.edu</a>).
    </p>
</footer>

<div class="sbn-footer-extended">
    <aside class="sbn-footer-psi-container">
        <img src="images/PSI_Logo.png" alt="PSI Logo" title="PSI Logo" class="psi-logo">
        <span>Hosted by the Planetary Science Institute</span>
    </aside>
</div>

<!-- END sbn-footer -->


    


    <script src="js/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search-data.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts20210813.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
