<!DOCTYPE html>
<html lang="en">
<head>
     
    <base href="/pds/" />
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Why Can't I Archive a JPEG? | PDS SBN Asteroid/Dust Subnode</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="css/main20210813.css">
    <link rel="stylesheet" href="css/header20210331.css">
    <link rel="stylesheet" href="css/footer20210331.css">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    <!-- PDS Feedback Widget -->
    <!-- Only add JQuery if you do not already include a library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
    <link rel="stylesheet" href="feedback/css/feedback.css"  type="text/css" media="screen" />
    <script src="feedback/js/modernizr-custom.js"></script>
    <script src="feedback/js/config.js"></script>
    <script src="feedback/js/feedback.js"></script>
    <!-- -->


    </head>
<body>

    <!-- BEGIN sbn-header -->

<header>
    <div class="callout">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
        <span><strong>Service Alert!</strong>&nbsp;The archive will be unavailable for brief maintenance (under 10 minutes) at 8:30am Pacific Daylight Time (11:30am Eastern) on Tuesday, August 27th
        </span>
    </div>
    <div id="sbn-header">
        <div class="sbn-title-container">
            <div class="sbn-title"><a class="ignore-a-styling" href="http://pdssbn.astro.umd.edu/">PDS Small Bodies Node</a></div>
            <a class="sbn-subtitle ignore-a-styling" href="">Asteroid/Dust Subnode</a>
        </div>
        <div class="gradient-bar"></div>
    </div>
</header>
<nav>
    
    <div id="menu-backdrop"></div>
    <div id="menu-drawer">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
    </div>

    <div id="theme-switch">
        <label for="theme-switch-checkbox">
            <input type="checkbox" id="theme-switch-checkbox" />
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30" title="Change light/dark theme">
                <title>Change light/dark theme</title>
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M20 15.31L23.31 12 20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69zM12 18V6c3.31 0 6 2.69 6 6s-2.69 6-6 6z" />
            </svg>
      </label>
    </div>
    <div id="menu">
        <div class="menu-handle">
            <div>Find Data</div>
            <ul class="menu-list">
                <li><a href="">Archive Home</a></li>
                <li class="divider"></li>
                <li><a href="archive/data-types.html"> Browse by Data Type</a></li>
                <li><a href="archive/target-types.html"> Browse by Target Type</a></li>
                <li><a href="archive/missions.html"> Browse by Mission</a></li>
                <li class="divider"></li>
                <li><a href="ferret/">Ferret - Target Search</a></li>
                <li><a href="sbib/">SBIB - Image Search</a></li>
                <li><a href="https://catch.astro.umd.edu/">CATCH - Survey Search</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Archive Data</div>
            <ul class="menu-list">
                <li><a href="olafs">OLAF - Archive your data</a></li>
                <li><a href="sbnarchivinghowto.html">How to Archive</a></li>
                <li><a href="other_tools/pdf1a.html">PDF/A Tools</a></li>
                <li><a href="https://pds.nasa.gov/datastandards/documents/current-version.shtml">PDS4 Standards</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Support</div>
            <ul class="menu-list">
                <li><a href="support/">Support Home</a></li>
                <li class="divider"></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="support/Tips.html">Tips & Tricks Articles <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="24px" class="callout-svg-icon"><title>New!</title><path d="M0 0h24v24H0z" fill="none"/><path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg></a></li>
                <li><a href="support/FAQ.html">Frequently Asked Questions</a></li>
                <li><a href="support/Keyterms.html">Key Terms</a></li>
                <li><a href="support/Glossary.html">Full Glossary</a></li>
                <li class="divider"></li>
                <li><a href="https://pds.nasa.gov/home/proposers/">Information for Data Proposers</a></li>
                <li><a href="https://sbnwiki.astro.umd.edu/wiki/SBN_PDS4_Wiki">PDS4 Tutorials and Quick Ref</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/howto/understand.shtml">Using PDS Data</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>PDS Info</div>
            <ul class="menu-list">
                <li><a href="aboutastsubnode.html">About SBN Asteroid Subnode</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/">SBN Comet Subnode</a></li>
                <li><a href="http://pds.nasa.gov/">PDS Home</a></li>
            </ul>
        </div>
    </div>
    
<div id="search-bar" class="search-container">
    <div class="search-box" v-bind:class="{focused: focused}">
        <svg class="search-icon" viewBox="0 0 100 125">
            <path d="M35.285,8L85,28.228L52.303,70.575l-4.715-17.337C33,59.622,16.45,72.294,43.672,92c0,0-37.15-4.02-26.875-39.512    c0,0,4.692-16.873,23.799-24.958L35.285,8z" />
        </svg>
        <div class="input-field">
            <input tabindex="0" placeholder="Shortcut to data by keyword..." type="text" aria-label="Shortcut to data by keyword"
                v-model="query"
                v-on:focus="onFocus"
                v-on:keyup="keypress">
        </div>
    </div>
    <div class="search-filter" v-if="focused">
        <label class="toggle-option" v-bind:class="{focused: mode === 'asteroid'}">Asteroid/Dust <input type="radio" v-model="mode" value="asteroid"></label>
        <label class="toggle-option" v-bind:class="{focused: mode === 'pds'}">PDS <input type="radio" v-model="mode" value="pds"></label>
    </div>
    <ul class="search-results" v-if="query.length > 0 && focused">
        <template v-for="result in searchResults">
            <li class="search-result" >
                <a v-bind:href="result.url" v-bind:title="title(result)" tabindex="0">{{result.name}}</a>
            </li>
        </template>
        <p class="no-results" v-if="searchResults.length === 0">No results found</p>
        <p class="no-results" v-if="searchResults.length === 0">Need help finding something? <a href="contact.html">Contact Us</a></p>
    </ul>
</div>

</nav>


<!-- END sbn-header -->


    <main><div class="sbn-main " >
    <!-- BEGIN main content -->

    <ol class="breadcrumbs">
    <li><a href="">Home</a></li>
    <li class="breadcrumbs-separator">/</li>
    <li><a href="support/">Support</a></li>
    <li class="breadcrumbs-separator">/</li>
    <li><a href="support/Tips.html">Tips & Tricks</a></li>
    <li class="breadcrumbs-separator">/</li>
    <li><a href="support/archiving-tips/">Archiving Tips</a></li>
    <li class="breadcrumbs-separator">/</li>
    <li>Why Can't I Archive a JPEG?</li>
</ol> 
<br/>

<h1 class="post-title">Why Can't I Archive a JPEG?</h1>
<p class="post-subtitle secondary">May 16, 2022 
    
    (by Mike Drum)
    
</p>

<p class="secondary"><em> Part of a series on <a href="support/archiving-tips/">Archiving Tips</a> </em></p>


<div class="social-post">
    <p>Look, we get it. PDS can probably seem kinda difficult sometimes. We have all these complicated requirements, we force people to change their data formats, and it’s hard to see why. You’ve got all these images or PDFs, why can’t we just take them and be happy?? How hard is it to just be a big dropbox for science?</p>

<p>Well, today we are going to just step back and briefly explain the method to our madness. And for the record, this article is not really specifically about JPG, but really all forms of data compression and why it’s inappropriate for an archive.</p>

<h2 id="on-bits-and-bytes">On Bits And Bytes</h2>

<p>First, some boring but important fundamentals. You probably know computers use binary code to store and compute things. 1’s and 0’s and all that. Those are bits (and 8 of them is a byte). Well, every file on a computer is still just a series of bytes, and so they look like this:</p>

<figure><img src="https://pdsregistryimages.psi.edu/tips/archiving-jpeg/binary1.png" /><figcaption>A bunch of bytes</figcaption></figure>

<p>A hard drive has a bunch of files, so it basically looks like this:</p>

<figure><img src="https://pdsregistryimages.psi.edu/tips/archiving-jpeg/binary2.png" /><figcaption>Even more bytes</figcaption></figure>

<p>Fun stuff.</p>

<p>The only way that a computer knows how to handle any of that is by assuming they are in a specific format, and reading it that way. ASCII is one such format, which translates each byte into a symbol or letter in the latin alphabet. Bytes can also be read as numbers, but there are even lots of different ways of doing that. Then when it comes to files, an example image format could assume that the first twenty bytes describes the name of the file, the next four bytes how wide an image is, the next four how long it is, and the remainder of the file has three 24-bit pixels describing their color values.<sup id="fnref:simple" role="doc-noteref"><a href="#fn:simple" class="footnote" rel="footnote">1</a></sup></p>

<p>If you do just a little bit of math, you can see that even the extremely simple, minimal example we laid out above would get out of hand pretty quickly. A random photo from my camera/phone is 3024 × 4032 pixels, which would make that format use over 100MB of data for just the color values.</p>

<p>So anyway, one day humans invented compression.</p>

<h2 id="on-jpeg-and-the-fickleness-of-humanity">On JPEG and the fickleness of humanity</h2>

<p>So JPEGs (and many other image formats) are a lot more complicated than they would seem because they do a lot of fancy tricks to fit more data into smaller files. Everything starts with a raw image in a format similar to that example above, but then an algorithm translates that to a much smaller format. This can happen <em>losslessly</em> (such that the compressed file can be fully restored to its original file) where patterens are identified, which is the key to compression.  Instead of repeating the same set of bits each time it appears, just include it once and then indicate where those bits should go.  This can typically cut an image file size in half.</p>

<p>However, to get really small files, other techniques will result in minor details being lost.  JPEG is a format that takes advantage of how human visual perception works where it finds patterns in photos and simplify certain blocks of an image down to those patterns. This removes unnoticeable (or barely noticeable) detail and replaces it with averages.</p>

<p>Thing is, it’s a very complicated algorithm. It is also only efficient in specific scenarios, too. So we keep inventing new data formats. You probably know a lot of them:</p>

<ul>
  <li>JPG</li>
  <li>TIFF</li>
  <li>GIF</li>
  <li>PNG</li>
  <li>FITS</li>
  <li>BMP</li>
</ul>

<p>You probably also don’t know about a lot of them:</p>

<ul>
  <li>HEIF</li>
  <li>ICO</li>
  <li>Nrrd</li>
  <li>JPEG 2000</li>
  <li>JPEG XL</li>
  <li>JPEG XR</li>
  <li>PICT</li>
  <li>PGM</li>
  <li>PPM</li>
</ul>

<p>Data file formats come and go, because different manufactures have different goals for making images efficient. Each of the obscure formats I mentioned was made because it’s <em>better</em> than all the others for some specific cases<sup id="fnref:gif" role="doc-noteref"><a href="#fn:gif" class="footnote" rel="footnote">2</a></sup>. And we never know which format will win out in the end, and which one computers will be able to render in 50 years time.</p>

<p>The goal of the PDS is to have the data and its usability outlive all of us working on it, and that means that we can’t adopt every file format out there (even uncompressed ones like BMP and some FITS). As much as possible, we want to describe every data file with our labels <em>down to the very byte</em>. This is why we ask for files to be described as arrays or tables most of the time. Those are algorithms that can be fully described in a label.</p>

<p>So, in the end, there are two reasons we can’t archive compressed data:</p>
<ol>
  <li>Original observational data might be lost due to lossy compression</li>
  <li>The actual compression algorithm itself would need to be archived</li>
</ol>

<h2 id="physics-strikes-back">Physics strikes back</h2>

<p>Now, that all said, the future might hold some exceptions to this policy. Due to reasons of practicality, we are already starting to pull down observational data in compressed formats, because it turns out there’s only one Deep Space Network right now. Transferring raw <em>video</em> would simply be impossible at the current bitrates available to spacecraft, so we’re currently in the process of figuring out how we’re going to archive that data. These are the principles we’re working with though, so rest assured that we intend to make it data both usable now and in the future. Somehow.</p>

<hr />

<div class="footnotes" role="doc-endnotes">
  <ol>
    <li id="fn:simple" role="doc-endnote">
      <p>This is all a drastic simplification. File headers are a lot bigger and more complicated, but it’s fine for this example. <a href="#fnref:simple" class="reversefootnote" role="doc-backlink">&#8617;</a></p>
    </li>
    <li id="fn:gif" role="doc-endnote">
      <p>GIFs are basically the worst file format out there, and yet we still use them because they can have animations built in and who doesn’t like moving picture <a href="#fnref:gif" class="reversefootnote" role="doc-backlink">&#8617;</a></p>
    </li>
  </ol>
</div>

</div>


    <!-- END main content -->
    </div></main>

    <!-- BEGIN sbn-footer -->

<footer class="sbn-footer">
    <p class="sbn-footer-text">
        For questions about the data sets or this web site, contact Carol Neese (<a href="mailto:neese@psi.edu" class="link">neese@psi.edu</a>).
    </p>
</footer>

<div class="sbn-footer-extended">
    <aside class="sbn-footer-psi-container">
        <img src="images/PSI_Logo.png" alt="PSI Logo" title="PSI Logo" class="psi-logo">
        <span>Hosted by the Planetary Science Institute</span>
    </aside>
</div>

<!-- END sbn-footer -->


    


    <script src="js/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search-data.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts20210813.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
