<h1>DPS 2020</h1>
<h3>View Shape Models in AR</h3>

<div class="dps-models-container">
    <div>
       <h4>Asteroids</h4>
        <div class="dps-models">
            <dps-model model="view.asteroids[7]"></dps-model>
            <dps-model model="view.asteroids[6]"></dps-model>
            <dps-model model="view.asteroids[16]"></dps-model>
            <dps-model model="view.asteroids[14]"></dps-model>
            <dps-model model="view.asteroids[15]"></dps-model>
            <dps-model model="view.asteroids[4]"></dps-model>
        </div>
    </div>
    <div>
        <h4>Comets</h4>
        <div class="dps-models">
            <dps-model model="view.comets[0]"></dps-model>
        </div>
    </div>
    <div>
        <h4>Satellites</h4>
        <div class="dps-models">
            <dps-model model="view.satellites[12]"></dps-model>
            <dps-model model="view.satellites[1]"></dps-model>
            <dps-model model="view.satellites[11]"></dps-model>
        </div>
    </div>
</div>