<!DOCTYPE html>
<html lang="en">
<head>
     
    <base href="/pds/" />
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Cassini CDA | PDS SBN Asteroid/Dust Subnode</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="css/main20210813.css">
    <link rel="stylesheet" href="css/header20210331.css">
    <link rel="stylesheet" href="css/footer20210331.css">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    <!-- PDS Feedback Widget -->
    <!-- Only add JQuery if you do not already include a library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
    <link rel="stylesheet" href="feedback/css/feedback.css"  type="text/css" media="screen" />
    <script src="feedback/js/modernizr-custom.js"></script>
    <script src="feedback/js/config.js"></script>
    <script src="feedback/js/feedback.js"></script>
    <!-- -->


    </head>
<body>

    <!-- BEGIN sbn-header -->

<header>
    <div id="sbn-header">

        <div class="sbn-title-container">
            <div class="sbn-title"><a class="ignore-a-styling" href="http://pdssbn.astro.umd.edu/">PDS Small Bodies Node</a></div>
            <a class="sbn-subtitle ignore-a-styling" href="">Asteroid/Dust Subnode</a>
        </div>
        <div class="gradient-bar"></div>
    </div>
</header>
<nav>
    
    <div id="menu-backdrop"></div>
    <div id="menu-drawer">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
    </div>

    <div id="theme-switch">
        <label for="theme-switch-checkbox">
            <input type="checkbox" id="theme-switch-checkbox" />
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30" title="Change light/dark theme">
                <title>Change light/dark theme</title>
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M20 15.31L23.31 12 20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69zM12 18V6c3.31 0 6 2.69 6 6s-2.69 6-6 6z" />
            </svg>
      </label>
    </div>
    <div id="menu">
        <div class="menu-handle">
            <div>Find Data</div>
            <ul class="menu-list">
                <li><a href="">Archive Home</a></li>
                <li class="divider"></li>
                <li><a href="archive/data-types.html"> Browse by Data Type</a></li>
                <li><a href="archive/target-types.html"> Browse by Target Type</a></li>
                <li><a href="archive/missions.html"> Browse by Mission</a></li>
                <li class="divider"></li>
                <li><a href="ferret/">Ferret - Target Search</a></li>
                <li><a href="sbib/">SBIB - Image Search</a></li>
                <li><a href="https://catch.astro.umd.edu/">CATCH - Survey Search</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Archive Data</div>
            <ul class="menu-list">
                <li><a href="olafs">OLAF - Archive your data</a></li>
                <li><a href="sbnarchivinghowto.html">How to Archive</a></li>
                <li><a href="other_tools/pdf1a.html">PDF/A Tools</a></li>
                <li><a href="https://pds.nasa.gov/datastandards/documents/current-version.shtml">PDS4 Standards</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Support</div>
            <ul class="menu-list">
                <li><a href="support/">Support Home</a></li>
                <li class="divider"></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="support/Tips.html">Tips & Tricks Articles <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="24px" class="callout-svg-icon"><title>New!</title><path d="M0 0h24v24H0z" fill="none"/><path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg></a></li>
                <li><a href="support/FAQ.html">Frequently Asked Questions</a></li>
                <li><a href="support/Keyterms.html">Key Terms</a></li>
                <li><a href="support/Glossary.html">Full Glossary</a></li>
                <li class="divider"></li>
                <li><a href="https://pds.nasa.gov/home/proposers/">Information for Data Proposers</a></li>
                <li><a href="https://sbnwiki.astro.umd.edu/wiki/SBN_PDS4_Wiki">PDS4 Tutorials and Quick Ref</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/howto/understand.shtml">Using PDS Data</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>PDS Info</div>
            <ul class="menu-list">
                <li><a href="aboutastsubnode.html">About SBN Asteroid Subnode</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/">SBN Comet Subnode</a></li>
                <li><a href="http://pds.nasa.gov/">PDS Home</a></li>
            </ul>
        </div>
    </div>
    
<div id="search-bar" class="search-container">
    <div class="search-box" v-bind:class="{focused: focused}">
        <svg class="search-icon" viewBox="0 0 100 125">
            <path d="M35.285,8L85,28.228L52.303,70.575l-4.715-17.337C33,59.622,16.45,72.294,43.672,92c0,0-37.15-4.02-26.875-39.512    c0,0,4.692-16.873,23.799-24.958L35.285,8z" />
        </svg>
        <div class="input-field">
            <input tabindex="0" placeholder="Shortcut to data by keyword..." type="text" aria-label="Shortcut to data by keyword"
                v-model="query"
                v-on:focus="onFocus"
                v-on:keyup="keypress">
        </div>
    </div>
    <div class="search-filter" v-if="focused">
        <label class="toggle-option" v-bind:class="{focused: mode === 'asteroid'}">Asteroid/Dust <input type="radio" v-model="mode" value="asteroid"></label>
        <label class="toggle-option" v-bind:class="{focused: mode === 'pds'}">PDS <input type="radio" v-model="mode" value="pds"></label>
    </div>
    <ul class="search-results" v-if="query.length > 0 && focused">
        <template v-for="result in searchResults">
            <li class="search-result" >
                <a v-bind:href="result.url" v-bind:title="title(result)" tabindex="0">{{result.name}}</a>
            </li>
        </template>
        <p class="no-results" v-if="searchResults.length === 0">No results found</p>
        <p class="no-results" v-if="searchResults.length === 0">Need help finding something? <a href="contact.html">Contact Us</a></p>
    </ul>
</div>

</nav>


<!-- END sbn-header -->


    <main><div class="sbn-main " >
    <!-- BEGIN main content -->

            <ol class="breadcrumbs">
            <li><a href="">Home</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li><a href="archive/missions.html">Missions</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li><a href="archive/cassini.html">Cassini</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li>Cosmic Dust Analyzer (CDA)</li>
        </ol>
       
        <center>
            <h2> Cassini Cosmic Dust Analyzer (CDA)</h2>
            </center>

            <p>
            <b> <a href="resource/cdaDataHB-5-4-17.pdf">The Cosmic Dust
            Analyzer Data Handbook</a></b> by Sascha Kempf, Ralf Srama, and Amara Graps,
            is a detailed guide to the use of the Cassini Cosmic Dust Analyzer (CDA)
            data.

            <p>
            The Cassini CDA (Cosmic Dust Analyzer) data are available in
            approximately quarterly segments in the table below, going through
the end of the mission.  Note that a few volumes are not in chronological
order.

            <p>
            For a brief overview of the contents of each volume, see the AAREADME.TXT
            file in the root level of the volume.  For descriptions of the Cassini
            mission and spacecraft, the CDA instrument, and this data set, see the
            catalog files in the CATALOG directory.  For the Software Interface
            Specification (SIS) document for the CDA data, see the DOCUMENT directory.

            <p>
            The CDA team has issued the following warning to users:
            "Some values described in the PDS label... could not be provided in
            [these volumes] and are set to their missing constant value. PLEASE CONTACT
            THE CDA TEAM BEFORE USING THE DATA FOR AN UPDATE OF THE CONFIDENCE
            LEVEL. Efforts will be made to have those data provided in the
            subsequent delivery." These deficiencies will be corrected in version 2.0 of the data set, now
in preparation.

            <p>
            The Cassini High Rate Detector (HRD) data are also available, and can be
            accessed at <a href="resource/cohrd.html">this link</a>.

            <br><br>

            <p>
            <center>
            <table border=3 cellspacing=3 cellpadding=3>
            <tr><td> Browse:
                <td> Start time:
                <td> Stop time:
                <td> Download size:
                <td> Download:
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0001"> COCDA_0001 </a>
                <td> 1999-085
                <td> 2000-100
                <td> 28 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0001.tar.gz"> COCDA_0001.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0002"> COCDA_0002 </a>
                <td> 2000-100
                <td> 2001-100
                <td> 212 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0002.tar.gz"> COCDA_0002.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0003"> COCDA_0003 </a>
                <td> 2001-100
                <td> 2002-100
                <td> 340 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0003.tar.gz"> COCDA_0003.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0004"> COCDA_0004 </a>
                <td> 2002-100
                <td> 2003-100
                <td> 274 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0004.tar.gz"> COCDA_0004.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0005"> COCDA_0005 </a>
                <td> 2003-100
                <td> 2003-300
                <td> 449 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0005.tar.gz"> COCDA_0005.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0006"> COCDA_0006 </a>
                <td> 2004-275
                <td> 2004-366
                <td> 257 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0006.tar.gz"> COCDA_0006.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0007"> COCDA_0007 </a>
                <td> 2005-001
                <td> 2005-090
                <td> 331 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0007.tar.gz"> COCDA_0007.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0008"> COCDA_0008 </a>
                <td> 2003-300
                <td> 2004-100
                <td> 390 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0008.tar.gz"> COCDA_0008.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0009"> COCDA_0009 </a>
                <td> 2004-101
                <td> 2004-200
                <td> 116 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0009.tar.gz"> COCDA_0009.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0010"> COCDA_0010 </a>
                <td> 2004-201
                <td> 2004-274
                <td> 105 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0010.tar.gz"> COCDA_0010.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0011"> COCDA_0011 </a>
                <td> 2005-091
                <td> 2005-181
                <td> 206 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0011.tar.gz"> COCDA_0011.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0012"> COCDA_0012 </a>
                <td> 2005-182
                <td> 2005-202
                <td> 73 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0012.tar.gz"> COCDA_0012.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0013"> COCDA_0013 </a>
                <td> 2005-203
                <td> 2005-233
                <td> 154 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0013.tar.gz"> COCDA_0013.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0014"> COCDA_0014 </a>
                <td> 2005-234
                <td> 2005-273
                <td> 202 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0014.tar.gz"> COCDA_0014.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0015"> COCDA_0015 </a>
                <td> 2005-274
                <td> 2005-290
                <td> 48 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0015.tar.gz"> COCDA_0015.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0016"> COCDA_0016 </a>
                <td> 2005-291
                <td> 2005-310
                <td> 186 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0016.tar.gz"> COCDA_0016.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0017"> COCDA_0017 </a>
                <td> 2005-311
                <td> 2005-330
                <td> 71 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0017.tar.gz"> COCDA_0017.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0018"> COCDA_0018 </a>
                <td> 2005-331
                <td> 2005-365
                <td> 295 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0018.tar.gz"> COCDA_0018.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0019"> COCDA_0019 </a>
                <td> 2006-001
                <td> 2006-030
                <td> 155 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0019.tar.gz"> COCDA_0019.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0020"> COCDA_0020 </a>
                <td> 2006-031
                <td> 2006-060
                <td> 310 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0020.tar.gz"> COCDA_0020.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0021"> COCDA_0021 </a>
                <td> 2006-061
                <td> 2006-090
                <td> 191 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0021.tar.gz"> COCDA_0021.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0022"> COCDA_0022 </a>
                <td> 2006-091
                <td> 2006-121
                <td> 223 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0022.tar.gz"> COCDA_0022.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0023"> COCDA_0023 </a>
                <td> 2006-122
                <td> 2006-152
                <td> 191 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0023.tar.gz"> COCDA_0023.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0024"> COCDA_0024 </a>
                <td> 2006-153
                <td> 2006-181
                <td> 160 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0024.tar.gz"> COCDA_0024.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0025"> COCDA_0025 </a>
                <td> 2006-182
                <td> 2006-212
                <td> 165 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0025.tar.gz"> COCDA_0025.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0026"> COCDA_0026 </a>
                <td> 2006-213
                <td> 2006-243
                <td> 144 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0026.tar.gz"> COCDA_0026.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0027"> COCDA_0027 </a>
                <td> 2006-244
                <td> 2006-273
                <td> 127 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0027.tar.gz"> COCDA_0027.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0028"> COCDA_0028 </a>
                <td> 2006-274
                <td> 2006-304
                <td> 147 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0028.tar.gz"> COCDA_0028.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0029"> COCDA_0029 </a>
                <td> 2006-305
                <td> 2006-335
                <td> 100 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0029.tar.gz"> COCDA_0029.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0030"> COCDA_0030 </a>
                <td> 2006-336
                <td> 2006-365
                <td> 94 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0030.tar.gz"> COCDA_0030.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0031"> COCDA_0031 </a>
                <td> 2007-001
                <td> 2007-031
                <td> 90 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0031.tar.gz"> COCDA_0031.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0032"> COCDA_0032 </a>
                <td> 2007-032
                <td> 2007-062
                <td> 63 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0032.tar.gz"> COCDA_0032.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0033"> COCDA_0033 </a>
                <td> 2007-063
                <td> 2007-090
                <td> 74 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0033.tar.gz"> COCDA_0033.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0034"> COCDA_0034 </a>
                <td> 2007-091
                <td> 2007-121
                <td> 148 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0034.tar.gz"> COCDA_0034.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0035"> COCDA_0035 </a>
                <td> 2007-122
                <td> 2007-152
                <td> 157 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0035.tar.gz"> COCDA_0035.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0036"> COCDA_0036 </a>
                <td> 2007-153
                <td> 2007-181
                <td> 236 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0036.tar.gz"> COCDA_0036.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0037"> COCDA_0037 </a>
                <td> 2007-182
                <td> 2007-212
                <td> 199 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0037.tar.gz"> COCDA_0037.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0038"> COCDA_0038 </a>
                <td> 2007-213
                <td> 2007-242
                <td> 207 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0038.tar.gz"> COCDA_0038.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0039"> COCDA_0039 </a>
                <td> 2007-243
                <td> 2007-273
                <td> 167 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0039.tar.gz"> COCDA_0039.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0040"> COCDA_0040 </a>
                <td> 2007-274
                <td> 2007-304
                <td> 285 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0040.tar.gz"> COCDA_0040.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0041"> COCDA_0041 </a>
                <td> 2007-305
                <td> 2007-335
                <td> 186 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0041.tar.gz"> COCDA_0041.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0042"> COCDA_0042 </a>
                <td> 2007-336
                <td> 2007-365
                <td> 188 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0042.tar.gz"> COCDA_0042.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0043"> COCDA_0043 </a>
                <td> 2008-001
                <td> 2008-030
                <td> 178 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0043.tar.gz"> COCDA_0043.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0044"> COCDA_0044 </a>
                <td> 2008-031
                <td> 2008-061
                <td> 138 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0044.tar.gz"> COCDA_0044.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0045"> COCDA_0045 </a>
                <td> 2008-062
                <td> 2008-091
                <td> 144 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0045.tar.gz"> COCDA_0045.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0046"> COCDA_0046 </a>
                <td> 2008-092
                <td> 2008-122
                <td> 235 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0046.tar.gz"> COCDA_0046.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0047"> COCDA_0047 </a>
                <td> 2008-123
                <td> 2008-153
                <td> 122 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0047.tar.gz"> COCDA_0047.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0048"> COCDA_0048 </a>
                <td> 2008-154
                <td> 2008-182
                <td> 113 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0048.tar.gz"> COCDA_0048.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0049"> COCDA_0049 </a>
                <td> 2008-183
                <td> 2008-213
                <td> 92 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0049.tar.gz"> COCDA_0049.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0050"> COCDA_0050 </a>
                <td> 2008-214
                <td> 2008-244
                <td> 233 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0050.tar.gz"> COCDA_0050.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0051"> COCDA_0051 </a>
                <td> 2008-245
                <td> 2008-274
                <td> 19 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0051.tar.gz"> COCDA_0051.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0052"> COCDA_0052 </a>
                <td> 2008-275
                <td> 2008-305
                <td> 25 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0052.tar.gz"> COCDA_0052.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0053"> COCDA_0053 </a>
                <td> 2008-306
                <td> 2008-366
                <td> 14 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0053.tar.gz"> COCDA_0053.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0054"> COCDA_0054 </a>
                <td> 2009-001
                <td> 2009-090
                <td> 2 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0054.tar.gz"> COCDA_0054.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0055"> COCDA_0055 </a>
                <td> 2009-091
                <td> 2009-181
                <td> 72 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0055.tar.gz"> COCDA_0055.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0056"> COCDA_0056 </a>
                <td> 2009-182
                <td> 2009-273
                <td> 210 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0056.tar.gz"> COCDA_0056.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0057"> COCDA_0057 </a>
                <td> 2009-274
                <td> 2009-365
                <td> 272 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0057.tar.gz"> COCDA_0057.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0058"> COCDA_0058 </a>
                <td> 2010-001
                <td> 2010-090
                <td> 398 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0058.tar.gz"> COCDA_0058.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0059"> COCDA_0059 </a>
                <td> 2010-091
                <td> 2010-181
                <td> 247 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0059.tar.gz"> COCDA_0059.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0060"> COCDA_0060 </a>
                <td> 2010-182
                <td> 2010-273
                <td> 129 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0060.tar.gz"> COCDA_0060.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0061"> COCDA_0061 </a>
                <td> 2010-274
                <td> 2010-365
                <td> 106 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0061.tar.gz"> COCDA_0061.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0062"> COCDA_0062 </a>
                <td> 2011-001
                <td> 2011-090
                <td> 172 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0062.tar.gz"> COCDA_0062.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0063"> COCDA_0063 </a>
                <td> 2011-091
                <td> 2011-121
                <td> 156 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0063.tar.gz"> COCDA_0063.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0064"> COCDA_0064 </a>
                <td> 2011-122
                <td> 2011-152
                <td> 105 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0064.tar.gz"> COCDA_0064.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0065"> COCDA_0065 </a>
                <td> 2011-153
                <td> 2011-181
                <td> 98 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0065.tar.gz"> COCDA_0065.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0066"> COCDA_0066 </a>
                <td> 2011-182
                <td> 2011-212
                <td> 273 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0066.tar.gz"> COCDA_0066.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0067"> COCDA_0067 </a>
                <td> 2011-213
                <td> 2011-243
                <td> 51 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0067.tar.gz"> COCDA_0067.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0068"> COCDA_0068 </a>
                <td> 2011-244
                <td> 2011-273
                <td> 111 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0068.tar.gz"> COCDA_0068.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0069"> COCDA_0069 </a>
                <td> 2011-274
                <td> 2011-304
                <td> 110 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0069.tar.gz"> COCDA_0069.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0070"> COCDA_0070 </a>
                <td> 2011-305
                <td> 2011-335
                <td> 41 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0070.tar.gz"> COCDA_0070.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0071"> COCDA_0071 </a>
                <td> 2011-336
                <td> 2011-365
                <td> 85 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0071.tar.gz"> COCDA_0071.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0072"> COCDA_0072 </a>
                <td> 2012-001
                <td> 2012-030
                <td> 96 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0072.tar.gz"> COCDA_0072.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0073"> COCDA_0073 </a>
                <td> 2012-031
                <td> 2012-062
                <td> 106 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0073.tar.gz"> COCDA_0073.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0074"> COCDA_0074 </a>
                <td> 2012-063
                <td> 2012-090
                <td> 106 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0074.tar.gz"> COCDA_0074.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0075"> COCDA_0075 </a>
                <td> 2012-091
                <td> 2012-122
                <td> 5 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0075.tar.gz"> COCDA_0075.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0076"> COCDA_0076 </a>
                <td> 2012-123
                <td> 2012-153
                <td> 122 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0076.tar.gz"> COCDA_0076.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0077"> COCDA_0077 </a>
                <td> 2012-154
                <td> 2012-182
                <td> 131 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0077.tar.gz"> COCDA_0077.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0078"> COCDA_0078 </a>
                <td> 2012-183
                <td> 2012-213
                <td> 61 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0078.tar.gz"> COCDA_0078.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0079"> COCDA_0079 </a>
                <td> 2012-214
                <td> 2012-244
                <td> 62 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0079.tar.gz"> COCDA_0079.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0080"> COCDA_0080 </a>
                <td> 2012-245
                <td> 2012-274
                <td> 34 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0080.tar.gz"> COCDA_0080.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0081"> COCDA_0081 </a>
                <td> 2012-275
                <td> 2012-366
                <td> 58 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0081.tar.gz"> COCDA_0081.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0082"> COCDA_0082 </a>
                <td> 2013-001
                <td> 2013-090
                <td> 124 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0082.tar.gz"> COCDA_0082.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0083">COCDA_0083</a>
                <td> 2013-091
                <td> 2013-181
                <td> 202 Mb
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0083.tar.gz"> COCDA_0083.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0084"> COCDA_0084 </a>
                <td> 2013-182
                <td> 2013-273
                <td> 50 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0084.tar.gz"> COCDA_0084.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0085"> COCDA_0085 </a>
                <td> 2013-274
                <td> 2013-365
                <td> 30 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0085.tar.gz"> COCDA_0085.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0086"> COCDA_0086 </a>
                <td> 2014-001
                <td> 2014-090
                <td> 47 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0086.tar.gz"> COCDA_0086.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0087"> COCDA_0087 </a>
                <td> 2014-091
                <td> 2014-181
                <td> 43 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0087.tar.gz"> COCDA_0087.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0088"> COCDA_0088 </a>
                <td> 2014-182
                <td> 2014-273
                <td> 56 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0088.tar.gz"> COCDA_0088.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0089"> COCDA_0089 </a>
                <td> 2014-274
                <td> 2014-365
                <td> 86 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0089.tar.gz"> COCDA_0089.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0090"> COCDA_0090 </a>
                <td> 2015-091
                <td> 2015-181
                <td> 343 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0090.tar.gz"> COCDA_0090.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0091"> COCDA_0091 </a>
                <td> 2015-001
                <td> 2015-090
                <td> 146 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0091.tar.gz"> COCDA_0091.tar.gz </a>
            <tr><td> COCDA_0092
                <td> (no volume 92)
                <td>
                <td>
                <td>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0093"> COCDA_0093 </a>
                <td> 2015-182
                <td> 2015-273
                <td> 459 Mb
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0093.tar.gz"> COCDA_0093.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0094"> COCDA_0094 </a>
                <td> 2015-274
                <td> 2015-365
                <td> 622 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0094.tar.gz"> COCDA_0094.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0095"> COCDA_0095 </a>
                <td> 2016-001
                <td> 2016-091
                <td> 388 MBytes
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0095.tar.gz"> COCDA_0095.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0096"> COCDA_0096 </a>
                <td> 2016-092
                <td> 2016-182
                <td> 123 Mb
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0096.tar.gz"> COCDA_0096.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0097"> COCDA_0097 </a>
                <td> 2016-183
                <td> 2016-274
                <td> 301 Mb
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0097.tar.gz"> COCDA_0097.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0098"> COCDA_0098 </a>
                <td> 2016-275
                <td> 2016-366
                <td> 249  Mb
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0098.tar.gz"> COCDA_0098.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0099"> COCDA_0099 </a>
                <td> 2017-001
                <td> 2017-090
                <td> 128  Mb
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0099.tar.gz"> COCDA_0099.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0100"> COCDA_0100 </a>
                <td> 2017-091
                <td> 2017-181
                <td> 218  Mb
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0100.tar.gz"> COCDA_0100.tar.gz </a>
            <tr><td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0101"> COCDA_0101 </a>
                <td> 2017-181
                <td> 2017-258 (EOM)
                <td> 353  Mb
                <td> <a href="https://sbnarchive.psi.edu/pds3/cassini/cda/COCDA_0101.tar.gz"> COCDA_0101.tar.gz </a>

            </table>

            <p>
            CAUTION:  Volumes 8-10 and 90-91 are not in chronological order.

            </center>

            <br>

    <!-- END main content -->
    </div></main>

    <!-- BEGIN sbn-footer -->

<footer class="sbn-footer">
    <p class="sbn-footer-text">
        For questions about the data sets or this web site, contact Carol Neese (<a href="mailto:neese@psi.edu" class="link">neese@psi.edu</a>).
    </p>
</footer>

<div class="sbn-footer-extended">
    <aside class="sbn-footer-psi-container">
        <img src="images/PSI_Logo.png" alt="PSI Logo" title="PSI Logo" class="psi-logo">
        <span>Hosted by the Planetary Science Institute</span>
    </aside>
</div>

<!-- END sbn-footer -->


    


    <script src="js/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search-data.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts20210813.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
