<!DOCTYPE html>
<html lang="en">
<head>
     
    <base href="/pds/" />
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>PDS Asteroid/Dust Subnode | PDS SBN Asteroid/Dust Subnode</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="css/main20210813.css">
    <link rel="stylesheet" href="css/header20210331.css">
    <link rel="stylesheet" href="css/footer20210331.css">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    <!-- PDS Feedback Widget -->
    <!-- Only add JQuery if you do not already include a library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
    <link rel="stylesheet" href="feedback/css/feedback.css"  type="text/css" media="screen" />
    <script src="feedback/js/modernizr-custom.js"></script>
    <script src="feedback/js/config.js"></script>
    <script src="feedback/js/feedback.js"></script>
    <!-- -->


    </head>
<body>

    <!-- BEGIN sbn-header -->

<header>
    <div id="sbn-header">

        <div class="sbn-title-container">
            <div class="sbn-title"><a class="ignore-a-styling" href="http://pdssbn.astro.umd.edu/">PDS Small Bodies Node</a></div>
            <a class="sbn-subtitle ignore-a-styling" href="">Asteroid/Dust Subnode</a>
        </div>
        <div class="gradient-bar"></div>
    </div>
</header>
<nav>
    
    <div id="menu-backdrop"></div>
    <div id="menu-drawer">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
    </div>

    <div id="theme-switch">
        <label for="theme-switch-checkbox">
            <input type="checkbox" id="theme-switch-checkbox" />
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30" title="Change light/dark theme">
                <title>Change light/dark theme</title>
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M20 15.31L23.31 12 20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69zM12 18V6c3.31 0 6 2.69 6 6s-2.69 6-6 6z" />
            </svg>
      </label>
    </div>
    <div id="menu">
        <div class="menu-handle">
            <div>Find Data</div>
            <ul class="menu-list">
                <li><a href="">Archive Home</a></li>
                <li class="divider"></li>
                <li><a href="archive/data-types.html"> Browse by Data Type</a></li>
                <li><a href="archive/target-types.html"> Browse by Target Type</a></li>
                <li><a href="archive/missions.html"> Browse by Mission</a></li>
                <li class="divider"></li>
                <li><a href="ferret/">Ferret - Target Search</a></li>
                <li><a href="sbib/">SBIB - Image Search</a></li>
                <li><a href="https://catch.astro.umd.edu/">CATCH - Survey Search</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Archive Data</div>
            <ul class="menu-list">
                <li><a href="olafs">OLAF - Archive your data</a></li>
                <li><a href="sbnarchivinghowto.html">How to Archive</a></li>
                <li><a href="other_tools/pdf1a.html">PDF/A Tools</a></li>
                <li><a href="https://pds.nasa.gov/datastandards/documents/current-version.shtml">PDS4 Standards</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Support</div>
            <ul class="menu-list">
                <li><a href="support/">Support Home</a></li>
                <li class="divider"></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="support/Tips.html">Tips & Tricks Articles <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="24px" class="callout-svg-icon"><title>New!</title><path d="M0 0h24v24H0z" fill="none"/><path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg></a></li>
                <li><a href="support/FAQ.html">Frequently Asked Questions</a></li>
                <li><a href="support/Keyterms.html">Key Terms</a></li>
                <li><a href="support/Glossary.html">Full Glossary</a></li>
                <li class="divider"></li>
                <li><a href="https://pds.nasa.gov/home/proposers/">Information for Data Proposers</a></li>
                <li><a href="https://sbnwiki.astro.umd.edu/wiki/SBN_PDS4_Wiki">PDS4 Tutorials and Quick Ref</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/howto/understand.shtml">Using PDS Data</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>PDS Info</div>
            <ul class="menu-list">
                <li><a href="aboutastsubnode.html">About SBN Asteroid Subnode</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/">SBN Comet Subnode</a></li>
                <li><a href="http://pds.nasa.gov/">PDS Home</a></li>
            </ul>
        </div>
    </div>
    
<div id="search-bar" class="search-container">
    <div class="search-box" v-bind:class="{focused: focused}">
        <svg class="search-icon" viewBox="0 0 100 125">
            <path d="M35.285,8L85,28.228L52.303,70.575l-4.715-17.337C33,59.622,16.45,72.294,43.672,92c0,0-37.15-4.02-26.875-39.512    c0,0,4.692-16.873,23.799-24.958L35.285,8z" />
        </svg>
        <div class="input-field">
            <input tabindex="0" placeholder="Shortcut to data by keyword..." type="text" aria-label="Shortcut to data by keyword"
                v-model="query"
                v-on:focus="onFocus"
                v-on:keyup="keypress">
        </div>
    </div>
    <div class="search-filter" v-if="focused">
        <label class="toggle-option" v-bind:class="{focused: mode === 'asteroid'}">Asteroid/Dust <input type="radio" v-model="mode" value="asteroid"></label>
        <label class="toggle-option" v-bind:class="{focused: mode === 'pds'}">PDS <input type="radio" v-model="mode" value="pds"></label>
    </div>
    <ul class="search-results" v-if="query.length > 0 && focused">
        <template v-for="result in searchResults">
            <li class="search-result" >
                <a v-bind:href="result.url" v-bind:title="title(result)" tabindex="0">{{result.name}}</a>
            </li>
        </template>
        <p class="no-results" v-if="searchResults.length === 0">No results found</p>
        <p class="no-results" v-if="searchResults.length === 0">Need help finding something? <a href="contact.html">Contact Us</a></p>
    </ul>
</div>

</nav>


<!-- END sbn-header -->


    <main><div class="sbn-main " >
    <!-- BEGIN main content -->

            <h1>PDS4 Line Feed Changes</h1>

        <p>The Planetary Data System is implementing a change to its standards, which may impact users of PDS data, especially if you have written custom scripts/software to read data.</p>
        <p>This change is scheduled to go into effect <strong>June 2021</strong> with IM version 1.16.0.0</p>

        <h2>What is changing?</h2>
        <p>Current standards require that Text Stream (like ASCII), Character Table (like Fixed-Width Tables), and Delimited Table (like CSV) files follow the Windows format in which every line ends with both the Carriage Return (<code>CR</code>) and Line Feed (<code>LF</code>) characters. This change will allow such archived data in which every line ends with a Line Feed character (<code>LF</code>) alone, used by Linux and MacOS systems, in addition to the prior Windows format. Files will still be required to use their preferred line feed delimiter consistently across the file.</p>

        <h2>What are line feed characters?</h2>
        <p>In digital files, special invisible "control characters" are used to indicate when a line has ended. These may be used in a text document, table, image, or any other format. In Windows and most older computing systems, this is indicated with two adjacent characters: "Carriage Return" (<code>CR</code>, Hex <code>0xD</code>, <code>"\r"</code>) and "Line Feed" (<code>LF</code>, Hex <code>0xA</code>, <code>"\n"</code>). On Unix-based systems like Mac and Linux, this is typically represented as a single Line Feed character instead. Further background can be found <a href="https://en.wikipedia.org/wiki/Newline">here</a>.</p>

        <h2>How will this affect me?</h2>
        <p>If you use your own custom software or scripts to parse and use data from the PDS, this may need to be updated to support this change.</p>
        <p>If you use software distributed by the PDS on our archived data, you will need to download the latest versions when those are available after this change goes into effect June 2021.</p>

        <h2>What might I need to change in my code?</h2>
        <p>Maybe nothing! If you use widely-distributed image/text/file parsing libraries in your code, many of them already know how to handle variable format line endings.</p>
        <p>In many programming languages (like Python), these characters are represented in code by <code>"\n"</code> (for LF) and <code>"\r"</code> for carriage return. So in those cases, you would need to change any code that expected <code>"\r\n"</code> to also expect <code>"\n"</code>.</p>
        <p>If your code makes assumptions about the byte length of a line (for example, in a Fixed-Width table), you may find that files in this new format will not be read properly. </p>
        <strong><em>Don't</em></strong> do this: 
            <code class="bad">f = open(filename, 'r')
lines = []
while True:
    line = f.read(20) # Read twenty characters
    if not line:
        break;
    lines.append(line)
    
    # Skip CR+LF characters
    f.read(2)</code><br/>

            <strong><em>Instead</em></strong> do this: 
            <code class="good">f = open(filename, 'r')
lines = []
while True:
    # Read a line with either CR+LF or LF, and remove those characters
    line = f.readline().strip('\r\n') 
    if not line:
        break;
    lines.append(line)</code><br/>
        <p>In cases where you are splitting lines by expecting a <code>CR+LF</code> line ending, modify it to expect <em>either</em> <code>CR+LF</code> or <code>LF</code>. Errors might occur if you switch to just expecting <code>LF</code>; the trailing <code>CR</code> could cause issues. You must handle <em>both</em> cases.</p>
        <p>Alternatively, just use built-in methods of splitting lines:</p>
            <strong><em>Don't</em></strong> do this: 
            <code class="bad">f = open(filename, 'r')
lines = f.read().split('\r\n')</code><br/>

            <strong><em>Instead</em></strong> do this: 
            <code class="good">f = open(filename, 'r')
lines = f.read().splitlines() 
# Reads the entire file into list of lines (without ending characters)</code>
            </p>

        <p>Some examples of methods you can use to handle this automatically:</p>
        <ul>
            <li><strong>Python</strong></li>
            <ul>
                <li>To read files, <a href="https://docs.python.org/3/library/functions.html#open">use the <code>open</code> function</a>, which defaults to interpreting and translating either form of newline. From there, iterate over the results or use <code>readLine()</code></li>
                <li>If you already have the file data in a string, <a href="https://docs.python.org/3/library/stdtypes.html#str.splitlines">you can use <code>splitlines</code> instead</a></li>
            </ul> 
            <li><strong>Java</strong></li>
            <ul>
                <li>Java's standard library includes <a href="https://docs.oracle.com/javase/8/docs/api/java/io/BufferedReader.html#readLine--"> the <code>readLine</code> method</a>, used as part of a <code>BufferedReader</code> which will assist in traversing the file.</li>
                <li>In Java 8, you can use <a href="https://docs.oracle.com/javase/8/docs/api/java/nio/file/Files.html#lines-java.nio.file.Path-"><code>Files.lines</code> as well</a></li>
                <li>If you're using Apache Commons, <a href="https://commons.apache.org/proper/commons-io/apidocs/org/apache/commons/io/FileUtils.html#readLines-java.io.File-java.nio.charset.Charset-">you may wish to use <code>FileUtils.readLines()</code></a></li>
            </ul> 
        </ul>

        <h2>What do I <em>not</em> need to worry about?</h2>
        <p>Data that has already been archived with the existing PDS3 or PDS4 standards will not change, and can continue to be used with any tools out there today. This change will only affect some data files archived in the future model versions (date TBD).</p>
        <p>Software written and distributed by the PDS will be updated to work with this new format at the same time, so you will not need to modify that software, merely use the most updated versions.</p>
        <p>Data providers already supplying data using Windows-format line endings will not need to change anything. The record delimiter type has always been specified in the accompanying labels, and will continue to be so.</p>

        <h2>I am a data provider, how will this affect me?</h2>
        <p>This is merely an addition to what's allowed in our standards. Any existing data that you provide will continue to be archivable. Going forward though, you will have more flexibility in the types of files you can archive, or the amount of work you need to put in to make your data archive-ready.</p>

        <h2 id="contact">Who can I contact for feedback or questions?</h2>
        <p>Please contact us at <a href="mailto:sbn@psi.edu">sbn@psi.edu</a> if you have any questions or need assistance adjusting your workflow with this change.</p>
        
    <style media = "all">
        code {
           font-family: 'Courier New', Courier, monospace;
           white-space: pre-wrap;
        }
        a code {
            letter-spacing: initial !important;
        }
        code.bad, code.good {
            display: block;
            padding: 8px;
            max-width: 800px;
        }
        code.bad {
            background-color: rgba(255, 6, 6, 0.25);
        }
        code.good {
            background-color: rgba(1, 255, 1, 0.25);
        }
     </style>

    <!-- END main content -->
    </div></main>

    <!-- BEGIN sbn-footer -->

<footer class="sbn-footer">
    <p class="sbn-footer-text">
        For questions about the data sets or this web site, contact Carol Neese (<a href="mailto:neese@psi.edu" class="link">neese@psi.edu</a>).
    </p>
</footer>

<div class="sbn-footer-extended">
    <aside class="sbn-footer-psi-container">
        <img src="images/PSI_Logo.png" alt="PSI Logo" title="PSI Logo" class="psi-logo">
        <span>Hosted by the Planetary Science Institute</span>
    </aside>
</div>

<!-- END sbn-footer -->


    


    <script src="js/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search-data.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts20210813.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
