<!DOCTYPE html>
<html lang="en">
<head>
     
    <base href="/pds/" />
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>FindIt | PDS SBN Asteroid/Dust Subnode</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="css/main20210813.css">
    <link rel="stylesheet" href="css/header20210331.css">
    <link rel="stylesheet" href="css/footer20210331.css">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    <!-- PDS Feedback Widget -->
    <!-- Only add JQuery if you do not already include a library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
    <link rel="stylesheet" href="feedback/css/feedback.css"  type="text/css" media="screen" />
    <script src="feedback/js/modernizr-custom.js"></script>
    <script src="feedback/js/config.js"></script>
    <script src="feedback/js/feedback.js"></script>
    <!-- -->


    </head>
<body>

    <!-- BEGIN sbn-header -->

<header>
    <div id="sbn-header">

        <div class="sbn-title-container">
            <div class="sbn-title"><a class="ignore-a-styling" href="http://pdssbn.astro.umd.edu/">PDS Small Bodies Node</a></div>
            <a class="sbn-subtitle ignore-a-styling" href="">Asteroid/Dust Subnode</a>
        </div>
        <div class="gradient-bar"></div>
    </div>
</header>
<nav>
    
    <div id="menu-backdrop"></div>
    <div id="menu-drawer">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
    </div>

    <div id="theme-switch">
        <label for="theme-switch-checkbox">
            <input type="checkbox" id="theme-switch-checkbox" />
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30" title="Change light/dark theme">
                <title>Change light/dark theme</title>
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M20 15.31L23.31 12 20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69zM12 18V6c3.31 0 6 2.69 6 6s-2.69 6-6 6z" />
            </svg>
      </label>
    </div>
    <div id="menu">
        <div class="menu-handle">
            <div>Find Data</div>
            <ul class="menu-list">
                <li><a href="">Archive Home</a></li>
                <li class="divider"></li>
                <li><a href="archive/data-types.html"> Browse by Data Type</a></li>
                <li><a href="archive/target-types.html"> Browse by Target Type</a></li>
                <li><a href="archive/missions.html"> Browse by Mission</a></li>
                <li class="divider"></li>
                <li><a href="ferret/">Ferret - Target Search</a></li>
                <li><a href="sbib/">SBIB - Image Search</a></li>
                <li><a href="https://catch.astro.umd.edu/">CATCH - Survey Search</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Archive Data</div>
            <ul class="menu-list">
                <li><a href="olafs">OLAF - Archive your data</a></li>
                <li><a href="sbnarchivinghowto.html">How to Archive</a></li>
                <li><a href="other_tools/pdf1a.html">PDF/A Tools</a></li>
                <li><a href="https://pds.nasa.gov/datastandards/documents/current-version.shtml">PDS4 Standards</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Support</div>
            <ul class="menu-list">
                <li><a href="support/">Support Home</a></li>
                <li class="divider"></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="support/Tips.html">Tips & Tricks Articles <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="24px" class="callout-svg-icon"><title>New!</title><path d="M0 0h24v24H0z" fill="none"/><path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg></a></li>
                <li><a href="support/FAQ.html">Frequently Asked Questions</a></li>
                <li><a href="support/Keyterms.html">Key Terms</a></li>
                <li><a href="support/Glossary.html">Full Glossary</a></li>
                <li class="divider"></li>
                <li><a href="https://pds.nasa.gov/home/proposers/">Information for Data Proposers</a></li>
                <li><a href="https://sbnwiki.astro.umd.edu/wiki/SBN_PDS4_Wiki">PDS4 Tutorials and Quick Ref</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/howto/understand.shtml">Using PDS Data</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>PDS Info</div>
            <ul class="menu-list">
                <li><a href="aboutastsubnode.html">About SBN Asteroid Subnode</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/">SBN Comet Subnode</a></li>
                <li><a href="http://pds.nasa.gov/">PDS Home</a></li>
            </ul>
        </div>
    </div>
    
<div id="search-bar" class="search-container">
    <div class="search-box" v-bind:class="{focused: focused}">
        <svg class="search-icon" viewBox="0 0 100 125">
            <path d="M35.285,8L85,28.228L52.303,70.575l-4.715-17.337C33,59.622,16.45,72.294,43.672,92c0,0-37.15-4.02-26.875-39.512    c0,0,4.692-16.873,23.799-24.958L35.285,8z" />
        </svg>
        <div class="input-field">
            <input tabindex="0" placeholder="Shortcut to data by keyword..." type="text" aria-label="Shortcut to data by keyword"
                v-model="query"
                v-on:focus="onFocus"
                v-on:keyup="keypress">
        </div>
    </div>
    <div class="search-filter" v-if="focused">
        <label class="toggle-option" v-bind:class="{focused: mode === 'asteroid'}">Asteroid/Dust <input type="radio" v-model="mode" value="asteroid"></label>
        <label class="toggle-option" v-bind:class="{focused: mode === 'pds'}">PDS <input type="radio" v-model="mode" value="pds"></label>
    </div>
    <ul class="search-results" v-if="query.length > 0 && focused">
        <template v-for="result in searchResults">
            <li class="search-result" >
                <a v-bind:href="result.url" v-bind:title="title(result)" tabindex="0">{{result.name}}</a>
            </li>
        </template>
        <p class="no-results" v-if="searchResults.length === 0">No results found</p>
        <p class="no-results" v-if="searchResults.length === 0">Need help finding something? <a href="contact.html">Contact Us</a></p>
    </ul>
</div>

</nav>


<!-- END sbn-header -->


    <main><div class="sbn-main "  data-page-theme="images/nearspacecraft.jpg" >
    <!-- BEGIN main content -->

            <ol class="breadcrumbs">
            <li><a href="">Home</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li><a href="archive/missions.html">Missions</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li><a href="resource/near">NEAR</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li>Where to Find</li>
        </ol>
        <h2>Where to Find...</h2>

        <hr>

        <p>
        <h3>Calibration Files</h3>

        <p>
        Calibration files can be tabular data, images, or spectra and can be taken
        in the lab or in flight. Calibration files are normally located on the same
        data set as the calibrated data files, but in a separate subdirectory called
        "calib". The "calinfo.txt" file in that directory will provide further
        details about the calibration file organization.

        <hr>

        <p>
        <h3> Shape and Gravity Models</h3>

        <p>
        The original shape and gravity models prepared by the NEAR MSI, NAV,
        NLR, and RSS teams are in the
        <a class="referral-link" data-page="NEAR" data-type="Missions" href="resource/nearmod.html">
        NEAR Collected Shape and Gravity Models</a> data set.  The same models
        are also available in the individual higher-level data sets for each
        instrument.

        <p>
        The most recent and detailed Eros shape model, prepared by Robert Gaskell
        from the NEAR data in 2008, is available in the
        <a class="referral-link" data-page="NEAR" data-type="Missions" href="resource/erosshape.html">Gaskell Eros Shape
        Model</a> data set.

        <hr>

        <p>
        <h3> NEAR Browse Utilities</h3>

        <p>
        Browse utilities are located in the "browse" directory of many of the data
        sets.  Here are links to some of them:

        <ul>
        <li><a href="http://sbn.psi.edu/resource/near/NEAR_A_NIS_5_EDR_EROS_ORBIT_V1_0/browse/nisbrowse.htm">NIS Image Browser</a> for calibrated data.
        <li><a href="http://sbn.psi.edu/resource/near/NEAR_A_NIS_5_EDR_EROS_ORBIT_V1_0/browse/sample.htm">NIS Sample Spectral Plot</a>
        <li><a href="http://sbn.psi.edu/resource/near/NEAR_A_MSI_5_EROS_SHAPE_MODELS_V1_0/browse/sequence/msibrowse.htm">MSI Sequencing Information</a>
        <li><a href="http://sbn.psi.edu/resource/near/NEAR_A_MSI_5_EROS_SHAPE_MODELS_V1_0/browse/handlaid/time_order.htm">MSI Hand-laid Mosaics</a>
        <li> MAG Time-Series Plots of the Magnetic Field
                <ul>
                <li><a href="http://sbn.psi.edu/resource/near/NEAR_A_MAG_3_RDR_CRUISE2_V1_0/browse/">Cruise 2</a>
                <li><a href="http://sbn.psi.edu/resource/near/NEAR_A_MAG_3_RDR_CRUISE3_V1_0/browse/">Cruise 3</a>
                <li><a href="http://sbn.psi.edu/resource/near/NEAR_A_MAG_3_RDR_CRUISE4_V1_0/browse/">Cruise 4</a>
                <li><a href="http://sbn.psi.edu/resource/near/NEAR_A_MAG_3_RDR_EARTH_V1_0/browse/">Earth Flyby</a>
                <li><a href="http://sbn.psi.edu/resource/near/NEAR_A_MAG_3_RDR_EROS_FLY_BY_V1_0/browse/">Eros Flyby</a>
                <li><a href="http://sbn.psi.edu/resource/near/NEAR_A_MAG_3_RDR_EROS_ORBIT_V1_0/browse/">Eros Orbit</a>
                </ul>
        <li><a href="http://sbn.psi.edu/resource/near/NEAR_A_NLR_5_CDR_EROS_ORBIT_V1_0/browse/">NLR Along-Track Profiles</a>
        <li><a href="http://sbn.psi.edu/resource/near/NEAR_A_NLR_6_EROS_MAPS_MODELS_V1_0/browse/">NLR Browse images for Eros Shape and Data Coverage</a>
        <li> <a href="http://sbn.psi.edu/resource/near/NEAR_A_XRS_3_EDR_EROS_ORBIT_V1_0/browse/level2/xgrsbrowse.htm">XRS Daily Images</a>
        <li><a href="http://sbn.psi.edu/resource/near/NEAR_A_XRS_3_EDR_EROS_ORBIT_V1_0/browse/level3/xgrsbrowse.htm">XRS Images during specific solar flares</a>
        </ul>

        <hr>

        <p>
        <h3>Documentation</h3>

        <p>
        Documentation is provided in the "document" directory of each data set.
        An html browse utility linking the complete
        <a class="referral-link" data-page="NEAR" data-type="Missions" href="resource/near/neardoc.html">
        Documentation Set</a> for the entire collection is also available.

        <hr>

        <p>
        <h3> Data on asteroid 253 Mathilde</h3>

        <p>
        The NEAR spacecraft flew by asteroid 253 Mathilde on June 25-27, 1997.
        The Multi-Spectral Imager (MSI) and the Radio Science (RSS) instruments
        acquired data during the flyby of Mathilde.

        <p>
        MSI data on Mathilde are located in the MSI Mathilde raw and calibrated
        data sets available on the <a class="referral-link" data-page="NEAR" data-type="Missions" href="resource/near/msiinst.html">MSI instrument page</a>.

        <p>
        Radio Science data on Mathilde are located in the RSS Mathilde data set
        available on the <a class="referral-link" data-page="NEAR" data-type="Missions" href="resource/near/rssinst.html">RSS instrument page</a>.

        <p>
        SPICE data for Mathilde are located in the NEAR SPICE Mathilde data set
        available on the <a class="referral-link" data-page="NEAR" data-type="Missions" href="resource/near/spice.html">NEAR SPICE page</a>.

        <p>
        An incomplete shape model, image mosaic, and list of images used to create
        the shape model, are included in the <a class="referral-link" data-page="NEAR" data-type="Missions" href="resource/nearmod.html"> Collected NEAR Mathilde and Eros Shape and Gravity Models</a>.

        <hr>

        <p>
        <h3>Data on comet C/Hyakutake (1996 B2)</h3>

        <p>
        The MSI instrument acquired visual images of comet C/Hyakutake (1996 B2) on
        March 23, 1996, from 14:50:19.1 to 15:44:41.1 UTC, equivalent to mission
        elapsed times 3089211 and 3092473, respectively.

        <p>
        The raw MSI images are in the MSI Cruise 1 raw data set,
        <a href="http://sbn.psi.edu/resource/near/NEAR_A_MSI_2_EDR_CRUISE1_V1_0/data/1996/084/raw/">here</a>.

        <p>
        The calibrated MSI images are in the MSI Cruise 1 calibrated data set
        <a href="http://sbn.psi.edu/resource/near/NEAR_A_MSI_3_EDR_CRUISE1_V1_0/data/1996/084/rad/">here</a>.

        <hr>

        <p>
        <h3>SPICE data</h3>

        <p>
        The NEAR SPICE archive was originally structured inconveniently as nine data
        sets divided by mission
        phase.  For ease of use, these nine data sets were combined into a single
        data set by Boris Semenov of NAIF, and the combined NEAR SPICE data set was
        reviewed internally by SBN.  The <a href="ftp://naif.jpl.nasa.gov/pub/naif/pds/data/near-a-spice-6-v1.0/nearsp_1000/">combined NEAR SPICE data set</a>
         was released by NAIF in
        February 2013 and linked on the SBN NEAR archive site.

        <p>
        The original nine data sets, which are now superseded by the combined data set,
        are accessible <a class="referral-link" data-page="NEAR" data-type="Missions" href="resource/near/spice.html">
        here</a>.

        <br>

        <center>
        <a href="resource/near">Return to NEAR Archive</a>
        </center>
        <br>

    <!-- END main content -->
    </div></main>

    <!-- BEGIN sbn-footer -->

<footer class="sbn-footer">
    <p class="sbn-footer-text">
        For questions about the data sets or this web site, contact Carol Neese (<a href="mailto:neese@psi.edu" class="link">neese@psi.edu</a>).
    </p>
</footer>

<div class="sbn-footer-extended">
    <aside class="sbn-footer-psi-container">
        <img src="images/PSI_Logo.png" alt="PSI Logo" title="PSI Logo" class="psi-logo">
        <span>Hosted by the Planetary Science Institute</span>
    </aside>
</div>

<!-- END sbn-footer -->


    


    <script src="js/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search-data.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts20210813.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
