<!DOCTYPE html>
<html lang="en">
<head>
     
    <base href="/pds/" />
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>NEAR Mission and Eros Orbital Phases | PDS SBN Asteroid/Dust Subnode</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="css/main20210813.css">
    <link rel="stylesheet" href="css/header20210331.css">
    <link rel="stylesheet" href="css/footer20210331.css">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    <!-- PDS Feedback Widget -->
    <!-- Only add JQuery if you do not already include a library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
    <link rel="stylesheet" href="feedback/css/feedback.css"  type="text/css" media="screen" />
    <script src="feedback/js/modernizr-custom.js"></script>
    <script src="feedback/js/config.js"></script>
    <script src="feedback/js/feedback.js"></script>
    <!-- -->


    </head>
<body>

    <!-- BEGIN sbn-header -->

<header>
    <div id="sbn-header">

        <div class="sbn-title-container">
            <div class="sbn-title"><a class="ignore-a-styling" href="http://pdssbn.astro.umd.edu/">PDS Small Bodies Node</a></div>
            <a class="sbn-subtitle ignore-a-styling" href="">Asteroid/Dust Subnode</a>
        </div>
        <div class="gradient-bar"></div>
    </div>
</header>
<nav>
    
    <div id="menu-backdrop"></div>
    <div id="menu-drawer">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
    </div>

    <div id="theme-switch">
        <label for="theme-switch-checkbox">
            <input type="checkbox" id="theme-switch-checkbox" />
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30" title="Change light/dark theme">
                <title>Change light/dark theme</title>
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M20 15.31L23.31 12 20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69zM12 18V6c3.31 0 6 2.69 6 6s-2.69 6-6 6z" />
            </svg>
      </label>
    </div>
    <div id="menu">
        <div class="menu-handle">
            <div>Find Data</div>
            <ul class="menu-list">
                <li><a href="">Archive Home</a></li>
                <li class="divider"></li>
                <li><a href="archive/data-types.html"> Browse by Data Type</a></li>
                <li><a href="archive/target-types.html"> Browse by Target Type</a></li>
                <li><a href="archive/missions.html"> Browse by Mission</a></li>
                <li class="divider"></li>
                <li><a href="ferret/">Ferret - Target Search</a></li>
                <li><a href="sbib/">SBIB - Image Search</a></li>
                <li><a href="https://catch.astro.umd.edu/">CATCH - Survey Search</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Archive Data</div>
            <ul class="menu-list">
                <li><a href="olafs">OLAF - Archive your data</a></li>
                <li><a href="sbnarchivinghowto.html">How to Archive</a></li>
                <li><a href="other_tools/pdf1a.html">PDF/A Tools</a></li>
                <li><a href="https://pds.nasa.gov/datastandards/documents/current-version.shtml">PDS4 Standards</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Support</div>
            <ul class="menu-list">
                <li><a href="support/">Support Home</a></li>
                <li class="divider"></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="support/Tips.html">Tips & Tricks Articles <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="24px" class="callout-svg-icon"><title>New!</title><path d="M0 0h24v24H0z" fill="none"/><path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg></a></li>
                <li><a href="support/FAQ.html">Frequently Asked Questions</a></li>
                <li><a href="support/Keyterms.html">Key Terms</a></li>
                <li><a href="support/Glossary.html">Full Glossary</a></li>
                <li class="divider"></li>
                <li><a href="https://pds.nasa.gov/home/proposers/">Information for Data Proposers</a></li>
                <li><a href="https://sbnwiki.astro.umd.edu/wiki/SBN_PDS4_Wiki">PDS4 Tutorials and Quick Ref</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/howto/understand.shtml">Using PDS Data</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>PDS Info</div>
            <ul class="menu-list">
                <li><a href="aboutastsubnode.html">About SBN Asteroid Subnode</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/">SBN Comet Subnode</a></li>
                <li><a href="http://pds.nasa.gov/">PDS Home</a></li>
            </ul>
        </div>
    </div>
    
<div id="search-bar" class="search-container">
    <div class="search-box" v-bind:class="{focused: focused}">
        <svg class="search-icon" viewBox="0 0 100 125">
            <path d="M35.285,8L85,28.228L52.303,70.575l-4.715-17.337C33,59.622,16.45,72.294,43.672,92c0,0-37.15-4.02-26.875-39.512    c0,0,4.692-16.873,23.799-24.958L35.285,8z" />
        </svg>
        <div class="input-field">
            <input tabindex="0" placeholder="Shortcut to data by keyword..." type="text" aria-label="Shortcut to data by keyword"
                v-model="query"
                v-on:focus="onFocus"
                v-on:keyup="keypress">
        </div>
    </div>
    <div class="search-filter" v-if="focused">
        <label class="toggle-option" v-bind:class="{focused: mode === 'asteroid'}">Asteroid/Dust <input type="radio" v-model="mode" value="asteroid"></label>
        <label class="toggle-option" v-bind:class="{focused: mode === 'pds'}">PDS <input type="radio" v-model="mode" value="pds"></label>
    </div>
    <ul class="search-results" v-if="query.length > 0 && focused">
        <template v-for="result in searchResults">
            <li class="search-result" >
                <a v-bind:href="result.url" v-bind:title="title(result)" tabindex="0">{{result.name}}</a>
            </li>
        </template>
        <p class="no-results" v-if="searchResults.length === 0">No results found</p>
        <p class="no-results" v-if="searchResults.length === 0">Need help finding something? <a href="contact.html">Contact Us</a></p>
    </ul>
</div>

</nav>


<!-- END sbn-header -->


    <main><div class="sbn-main "  data-page-theme="images/nearspacecraft.jpg" >
    <!-- BEGIN main content -->

            <ol class="breadcrumbs">
            <li><a href="">Home</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li><a href="archive/missions.html">Missions</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li><a href="resource/near">NEAR</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li>NEAR Mission and Eros Orbtial Phases</li>
        </ol>
        <center id="top">
            <h1>NEAR Mission and Eros Orbital Phases</h1>
            </center>


            <p>View a plot of the duration for the mission phases <a href="resource/near/mission_phases.html#mission">below</a> or the Eros orbital phases <a href="resource/near/mission_phases.html#eros">below</a>.</p>
            <p>These references were used to compile the following NEAR mission phase table:</p>

            <ul>
             <li>The Mission Phase Parameters table contained in the AAREADME.TXT file
             on each NEAR data volume.
             <li>The <a href="resource/near/documents/msi/observation_overview.txt">
             Eros Orbital Mission Overview</a>. Refer to Section 13.0, based on
             information supplied by David Dunham and Jim McAdams.
            </ul>
            <p>
            <table border>
            <tr>
            <th>Mission Phase <br /> or <br /> Eros Orbital Phase</th>
            <th>Mission <br /> Phase <br /> ID </th>
            <th>Length<br />(Days)</th>
            <th width=100>Start Date<br />(yyyy-ddd)<br />(yyyy-mm-dd)<br />(MET)</th>
            <th width=100>Stop Date<br />(yyyy-ddd)<br />(yyyy-mm-dd)<br />(MET)</th>
            <th width=200>Transition Dates <br /> for Eros Orbits
             </tr>

            <tr><td>CRUISE 1 <br /> (includes Launch) <td>CRU1
             <td>491
             <td>1996-048 <br /> 1996-02-17 <br /> 0
             <td>1997-175 <br /> 1997-06-24 <br /> 42606998
             <td>&nbsp;

             <tr><td>MATHILDE <td>MATH
             <td>3
             <td>1997-176 <br /> 1997-06-25 <br /> 42606999
             <td>1997-178 <br /> 1997-06-27 <br /> 42866198
             <td>&nbsp;

             <tr><td>CRUISE 2 <td>CRU2
             <td>209
             <td>1997-179 <br /> 1997-06-28 <br /> 42866199
             <td>1998-022 <br /> 1998-01-22 <br /> 60923803
             <td>&nbsp;

             <tr><td>Earth FLYBY <td>ERTH
             <td>4
             <td>1998-023 <br /> 1998-01-23 <br /> 60923804
             <td>1998-026 <br /> 1998-01-26 <br /> 61269403
             <td>&nbsp;

             <tr><td>CRUISE 3 <td>CRU3
             <td>330
             <td>1998-027 <br /> 1998-01-27 <br /> 61269404
             <td>1998-356 <br /> 1998-12-22 <br /> 89781411
             <td>&nbsp;

             <tr><td>EROS FLYBY <td>ERFB
             <td>1
             <td>1998-357 <br /> 1998-12-23 <br /> 89781412
             <td>1998-357 <br /> 1998-12-23 <br /> 89867811
             <td>&nbsp;

             <tr><td>CRUISE 4 <td>CRU4
             <td>383
             <td>1998-358 <br /> 1998-12-24 <br /> 89867812
             <td>2000-010 <br /> 2000-01-10 <br /> 122959023
             <td>&nbsp;

             <tr><td>EROS ORBIT <td>EROS
             <td>399 <td>2000-011 <br /> 2000-01-11 <br /> 122959024
             <td>2001-043 <br /> 2001-02-12 <br /> 157438039
             <td>&nbsp;

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;Far Approach <td>&nbsp;
             <td>32
             <td>2000-011 <br /> 2000-01-11 <br /> 122959024
             <td>2000-045 <br /> 2000-02-14 <br /> 125952609
             <td>&nbsp;

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;Injection <td>&nbsp;
             <td>18
             <td>2000-045 <br /> 2000-02-14 <br /> 125952610
             <td>2000-063 <br /> 2000-03-03 <br /> 127516625
             <td>&nbsp;

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;200km Orbit North
             <td>&nbsp;
             <td>31
             <td>2000-063 <br /> 2000-03-03 <br /> 127516626
             <td>2000-093 <br /> 2000-04-02 <br /> 130051226
             <td>&nbsp;

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;100km Orbit North
             <td>&nbsp;
             <td>21
             <td>2000-093 <br /> 2000-04-02 <br /> 130051227
             <td>2000-113 <br /> 2000-04-22 <br /> 131836026
             <td>2000-093 to 2000-101 <br /> 2000-04-02 to 2000-04-11 <br /> 130051227 to 130898226

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;50km Orbit A <td>&nbsp;
             <td>76
             <td>2000-113 <br /> 2000-04-22 <br /> 131836027
             <td>2000-189 <br /> 2000-07-07 <br /> 138403031
             <td>2000-113 to 2000-121 <br /> 2000-04-22 to 2000-04-30 <br /> 130051227 to 132521527

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;35km Orbit A <td>&nbsp;
             <td>17
             <td>2000-189 <br /> 2000-07-07 <br /> 138403032
             <td>2000-206 <br /> 2000-07-24 <br /> 139868229
             <td>2000-189 to 2000-196 <br /> 2000-07-07 to 2000-07-14 <br /> 138403032 to 138953831

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;50km Orbit BC <td>&nbsp;
             <td>33
             <td>2000-206 <br /> 2000-07-24 <br /> 139868230
             <td>2000-239 <br /> 2000-08-26 <br /> 142742530
             <td>2000-206 to 2000-213 <br /> 2000-07-24 to 2000-07-31 <br /> 139868230 to 140483829

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;100km South <td>&nbsp;
             <td>48
             <td>2000-239 <br /> 2000-08-26 <br /> 142742531
             <td>2000-287 <br /> 2000-10-13 <br /> 146826132
             <td>2000-239 to 2000-247 <br /> 2000-08-26 to 2000-09-05 <br /> 142742531 to 143605032

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;50km Orbit D <td>&nbsp;
             <td>12
             <td>2000-287 <br /> 2000-10-13 <br /> 146826133
             <td>2000-299 <br /> 2000-10-25 <br /> 147922032
             <td>2000-287 to 2000-294 <br /> 2000-10-13 to 2000-10-20 <br /> 146826133 to 147488232

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;Low Alt Flyover 1
             <td>&nbsp;
             <td>1
             <td>2000-299 <br /> 2000-10-25 <br /> 147922033
             <td>2000-300 <br /> 2000-10-26 <br /> 147992232 <td>&nbsp;

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;200km Orbit South
             <td>&nbsp;
             <td>42
             <td>2000-300 <br /> 2000-10-26 <br /> 147992233
             <td>2000-342 <br /> 2000-12-07 <br /> 151612633 <td>2000-300 to 2000-307 <br /> 2000-10-26 to 2000-11-03 <br /> 147992233 to 148630632

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;35km Orbit B <td>&nbsp;
             <td>48
             <td>2000-342 <br /> 2000-12-07 <br /> 151612634
             <td>2001-024 <br /> 2001-01-24 <br /> 155762535
             <td>2000-342 to 2000-348 <br /> 2000-12-07 to 2000-12-13 <br /> 151612634 to 152148734

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;Low Alt Flyover 2
             <td>&nbsp;
             <td>4
             <td>2001-024 <br /> 2001-01-24 <br /> 155762536
             <td>2001-028 <br /> 2001-01-28 <br /> 156115335 <td>&nbsp;

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;35km Orbit C
             <td>&nbsp;
             <td>15
             <td>2001-028 <br /> 2001-01-28 <br /> 156115336
             <td>2001-043 <br /> 2001-02-12 <br /> 157417380
             <td>&nbsp;

             <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;Descent <td>&nbsp;
             <td>1
             <td>2001-043 <br /> 2001-02-12 <br /> 157417381
             <td>2001-043 <br /> 2001-02-12 <br /> 157438039 <td>&nbsp;

             <tr><td>EROS SURFACE <td>ERSF
             <td>16
             <td>2001-044 <br /> 2001-02-13 <br /> 157438040
             <td>2001-059 <br /> 2001-02-28 <br /> 158790706
             <td>&nbsp;

            </table>

            <p>
            Go to <a href="resource/near/mission_phases.html#top">Top</a>
            <p>
            <a name="mission">
            <p>
            <img src="resource/near/mission_phases.jpg" usemap="#FPMap0" width="753" height="613">
            <p>
            Go to <a href="resource/near/mission_phases.html#top">Top</a>
            <p>
            <a name="eros">
            <p>
            <img src="resource/near/eros_phases.jpg" usemap="#FPMap0" width="753" height="613">
            <p>
            Go to <a href="resource/near/mission_phases.html#top">Top</a>

    <!-- END main content -->
    </div></main>

    <!-- BEGIN sbn-footer -->

<footer class="sbn-footer">
    <p class="sbn-footer-text">
        For questions about the data sets or this web site, contact Carol Neese (<a href="mailto:neese@psi.edu" class="link">neese@psi.edu</a>).
    </p>
</footer>

<div class="sbn-footer-extended">
    <aside class="sbn-footer-psi-container">
        <img src="images/PSI_Logo.png" alt="PSI Logo" title="PSI Logo" class="psi-logo">
        <span>Hosted by the Planetary Science Institute</span>
    </aside>
</div>

<!-- END sbn-footer -->


    


    <script src="js/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search-data.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts20210813.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
