---
layout: default
---

<ol class="breadcrumbs">
    <li><a href="">Home</a></li>
    <li class="breadcrumbs-separator">/</li>
    <li><a href="support/">Support</a></li>
    <li class="breadcrumbs-separator">/</li>
    <li><a href="support/Tips.html">Tips & Tricks</a></li>
    <li class="breadcrumbs-separator">/</li>
    <li>{{page.title}}</li>
</ol>   

<h1>{{page.title}}</h1>

<div class="primary-sections">
    <table class="fullwidth">
        {% for post in site.categories[page.category-name] %}
        <tr>
            <td><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
            <td>{{ post.category | replace: ' ', '&nbsp;'}}</td>
            <td>{{ post.date | date_to_string: "ordinal", "US" | replace: ' ', '&nbsp;'}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
