Redirect 301 "/pds-staging/resource/dawn/index.html" "https://arcnav.psi.edu/urn:nasa:pds:context:investigation:mission.dawn_mission_to_vesta_and_ceres"
Redirect 301 "/pds-staging/resource/dawn/dawngrandPDS4.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.grand"
Redirect 301 "/pds-staging/resource/dawn/dwncfcL1.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.fc2"
Redirect 301 "/pds-staging/resource/dawn/dwncgrdL1.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.grand"
Redirect 301 "/pds-staging/resource/dawn/dwncvirL1.html" "hhttps://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.vir"
Redirect 301 "/pds-staging/resource/dawn/dwngrdmarscruise.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.grand"
Redirect 301 "/pds-staging/resource/dawn/dwnvfcL1.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.fc2"
Redirect 301 "/pds-staging/resource/dawn/dwnvgrdL1.html" "https://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.grand"
Redirect 301 "/pds-staging/resource/dawn/dwnvvirL1.html" "hhttps://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.vir"
Redirect 301 "/pds-staging/resource/dawn/dwnxvir.html" "hhttps://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.vir"