<!DOCTYPE html>
<html lang="en">
<head>
     
    <base href="/pds/" />
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Ceres VIR | PDS SBN Asteroid/Dust Subnode</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="css/main20210813.css">
    <link rel="stylesheet" href="css/header20210331.css">
    <link rel="stylesheet" href="css/footer20210331.css">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    <!-- PDS Feedback Widget -->
    <!-- Only add JQuery if you do not already include a library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
    <link rel="stylesheet" href="feedback/css/feedback.css"  type="text/css" media="screen" />
    <script src="feedback/js/modernizr-custom.js"></script>
    <script src="feedback/js/config.js"></script>
    <script src="feedback/js/feedback.js"></script>
    <!-- -->


    </head>
<body>

    <!-- BEGIN sbn-header -->

<header>
    <div id="sbn-header">

        <div class="sbn-title-container">
            <div class="sbn-title"><a class="ignore-a-styling" href="http://pdssbn.astro.umd.edu/">PDS Small Bodies Node</a></div>
            <a class="sbn-subtitle ignore-a-styling" href="">Asteroid/Dust Subnode</a>
        </div>
        <div class="gradient-bar"></div>
    </div>
</header>
<nav>
    
    <div id="menu-backdrop"></div>
    <div id="menu-drawer">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
    </div>

    <div id="theme-switch">
        <label for="theme-switch-checkbox">
            <input type="checkbox" id="theme-switch-checkbox" />
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30" title="Change light/dark theme">
                <title>Change light/dark theme</title>
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M20 15.31L23.31 12 20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69zM12 18V6c3.31 0 6 2.69 6 6s-2.69 6-6 6z" />
            </svg>
      </label>
    </div>
    <div id="menu">
        <div class="menu-handle">
            <div>Find Data</div>
            <ul class="menu-list">
                <li><a href="">Archive Home</a></li>
                <li class="divider"></li>
                <li><a href="archive/data-types.html"> Browse by Data Type</a></li>
                <li><a href="archive/target-types.html"> Browse by Target Type</a></li>
                <li><a href="archive/missions.html"> Browse by Mission</a></li>
                <li class="divider"></li>
                <li><a href="ferret/">Ferret - Target Search</a></li>
                <li><a href="sbib/">SBIB - Image Search</a></li>
                <li><a href="https://catch.astro.umd.edu/">CATCH - Survey Search</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Archive Data</div>
            <ul class="menu-list">
                <li><a href="olafs">OLAF - Archive your data</a></li>
                <li><a href="sbnarchivinghowto.html">How to Archive</a></li>
                <li><a href="other_tools/pdf1a.html">PDF/A Tools</a></li>
                <li><a href="https://pds.nasa.gov/datastandards/documents/current-version.shtml">PDS4 Standards</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Support</div>
            <ul class="menu-list">
                <li><a href="support/">Support Home</a></li>
                <li class="divider"></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="support/Tips.html">Tips & Tricks Articles <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="24px" class="callout-svg-icon"><title>New!</title><path d="M0 0h24v24H0z" fill="none"/><path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg></a></li>
                <li><a href="support/FAQ.html">Frequently Asked Questions</a></li>
                <li><a href="support/Keyterms.html">Key Terms</a></li>
                <li><a href="support/Glossary.html">Full Glossary</a></li>
                <li class="divider"></li>
                <li><a href="https://pds.nasa.gov/home/proposers/">Information for Data Proposers</a></li>
                <li><a href="https://sbnwiki.astro.umd.edu/wiki/SBN_PDS4_Wiki">PDS4 Tutorials and Quick Ref</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/howto/understand.shtml">Using PDS Data</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>PDS Info</div>
            <ul class="menu-list">
                <li><a href="aboutastsubnode.html">About SBN Asteroid Subnode</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/">SBN Comet Subnode</a></li>
                <li><a href="http://pds.nasa.gov/">PDS Home</a></li>
            </ul>
        </div>
    </div>
    
<div id="search-bar" class="search-container">
    <div class="search-box" v-bind:class="{focused: focused}">
        <svg class="search-icon" viewBox="0 0 100 125">
            <path d="M35.285,8L85,28.228L52.303,70.575l-4.715-17.337C33,59.622,16.45,72.294,43.672,92c0,0-37.15-4.02-26.875-39.512    c0,0,4.692-16.873,23.799-24.958L35.285,8z" />
        </svg>
        <div class="input-field">
            <input tabindex="0" placeholder="Shortcut to data by keyword..." type="text" aria-label="Shortcut to data by keyword"
                v-model="query"
                v-on:focus="onFocus"
                v-on:keyup="keypress">
        </div>
    </div>
    <div class="search-filter" v-if="focused">
        <label class="toggle-option" v-bind:class="{focused: mode === 'asteroid'}">Asteroid/Dust <input type="radio" v-model="mode" value="asteroid"></label>
        <label class="toggle-option" v-bind:class="{focused: mode === 'pds'}">PDS <input type="radio" v-model="mode" value="pds"></label>
    </div>
    <ul class="search-results" v-if="query.length > 0 && focused">
        <template v-for="result in searchResults">
            <li class="search-result" >
                <a v-bind:href="result.url" v-bind:title="title(result)" tabindex="0">{{result.name}}</a>
            </li>
        </template>
        <p class="no-results" v-if="searchResults.length === 0">No results found</p>
        <p class="no-results" v-if="searchResults.length === 0">Need help finding something? <a href="contact.html">Contact Us</a></p>
    </ul>
</div>

</nav>


<!-- END sbn-header -->


    <main><div class="sbn-main "  data-page-theme="images/dawn-patch.png" >
    <!-- BEGIN main content -->

            <ol class="breadcrumbs">
            <li><a href="">Home</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li><a href="archive/missions.html">Missions</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li><a href="resource/dawn">Dawn</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li>Ceres -VIR</li>
        </ol>

        <div class="callout">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
            <span>This mission will soon be moved to our new Archive Navigator. To see this page in beta,
                <a href="https://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.vir">click here</a>
            </span>
        </div>
        
        <center>
            <h1> Dawn at Ceres - VIR </h1>
            </center>

            <p>
            Dawn VIR is an imaging spectrometer that combines two data channels in one
            instrument, Visible (VIS) and Infrared (IR).  The data sets linked below
            include raw (level 1a) and calibrated (level 1b) versions of all available
            VIR data acquired during the Ceres Encounter.</p>
            <a
            href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCVIR_2/CATALOG/VIR_DDR_CERES_MOSAICS_DS.CAT"
            class="pds-button">
            Data Set Info
        </a>
            <p>
            <h3> Browse and search the PDS Dawn Ceres archive using the
            <a href="http://sbn.psi.edu/sbib/">Small Bodies Image Browser</a>.</h3>

            <hr>

            <center>
            <h2>Raw Data (Level 1a)</h2>

            <p>
            <b>Status:  Archived, latest release date (for XMO6/7) May 14, 2019 </b>
            </center>

            <table border=1>
            <tr><td width=400> Data set:
                <td width=200> Browse:
                <td width=200> Download:
            <tr><td>Dawn VIR IR raw, Ceres Approach and RC3
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCAVIR_I1A/">DWNCAVIR_I1A</a> (3.1 Gb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCAVIR_I1A.tar.gz">DWNCAVIR_I1A.tar.gz</a> (2.4 Gb)
            <tr><td>Dawn VIR VIS raw, Ceres Approach and RC3
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCAVIR_V1A/">DWNCAVIR_V1A</a> (3.1 Gb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCAVIR_V1A.tar.gz">DWNCAVIR_V1A.tar.gz</a> (1.0 Gb)
            <tr><td>Dawn VIR IR raw, Ceres Survey
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCSVIR_I1A/">DWNCSVIR_I1A</a> (2.7 Gb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCSVIR_I1A-170714.tgz">DWNCSVIR_I1A-170714.tgz</a> (2.7 Gb)
            <tr><td>Dawn VIR VIS raw, Ceres Survey
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCSVIR_V1A/">DWNCSVIR_V1A</a> (3.9 Gb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCSVIR_V1A-170714.tgz">DWNCSVIR_V1A-170714.tgz</a> (1.8 Gb)
            <tr><td>Dawn VIR IR raw, Ceres HAMO
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCHVIR_I1A/">DWNCHVIR_I1A</a> (7.7 Gb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCHVIR_I1A-170324.tgz">DWNCHVIR_I1A-170324.tgz</a> (6.6 Gb)
            <tr><td>Dawn VIR VIS raw, Ceres HAMO
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCHVIR_V1A/">DWNCHVIR_V1A</a> (3.0 Gb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCHVIR_V1A-170324.tgz">DWNCHVIR_V1A-170324.tgz</a> (1.7 Gb)
            <tr><td>Dawn VIR IR raw, Ceres LAMO
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCLVIR_I1A/">DWNCLVIR_I1A</a> (9.4 Gb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCLVIR_I1A-180312.tgz">DWNCLVIR_I1A-180312.tgz</a> (7.9 Gb)
            <tr><td>Dawn VIR VIS raw, Ceres LAMO
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCLVIR_V1A/">DWNCLVIR_V1A</a> (2.1 Gb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCLVIR_V1A-180312.tgz">DWNCLVIR_V1A-180312.tgz</a> (963 Mb)
            <tr><td>Dawn VIR IR raw, Ceres XMO1 (extended LAMO)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC1VIR_I1A/">DWNC1VIR_I1A</a> (613 Mb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC1VIR_I1A-180312.tgz">DWNC1VIR_I1A-180312.tgz</a> (518 Mb)
            <tr><td>Dawn VIR VIS raw, Ceres XMO1 (extended LAMO)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC1VIR_V1A/">DWNC1VIR_V1A</a> (8.4 Gb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC1VIR_V1A-180312.tgz">DWNC1VIR_V1A-180312.tgz</a> (3.7 Gb)
            <tr><td>Dawn VIR IR raw, Ceres XMO2 (extended Juling)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC2VIR_I1A/">DWNC2VIR_I1A</a> (535 Mb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC2VIR_I1A-180312.tgz">DWNC2VIR_I1A-180312.tgz</a> (449 Mb)
            <tr><td> (No data for VIR VIS Ceres XMO2)
                <td> N/A
                <td> N/A
            <tr><td> (No data for VIR IR Ceres XMO3)
                <td> N/A
                <td> N/A
            <tr><td> VIR VIS raw, Ceres XMO3
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC3VIR_V1A/">DWNC3VIR_V1A</a> (640 Mb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC3VIR_V1A-190124.tgz">DWNC3VIR_V1A-190124.tgz</a> (327 Mb)
            <tr><td> VIR IR raw, Ceres XMO4
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC4VIR_I1A/">DWNC4VIR_I1A</a> (47 Mb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC4VIR_I1A-190124.tgz">DWNC4VIR_I1A-190124.tgz</a> (41 Mb)
            <tr><td> VIR VIS raw, Ceres XMO4
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC4VIR_V1A/">DWNC4VIR_V1A</a> (327 Mb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC4VIR_V1A-190124.tgz">DWNC4VIR_V1A-190124.tgz</a> (137 Mb)
            <tr><td> (No data for VIR IR/VIS Ceres XMO5)
                <td> N/A
                <td> N/A
            <tr><td>Dawn VIR IR raw, Ceres XMO6
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC6VIR_I1A/">DWNC6VIR_I1A</a>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC6VIR_I1A_190606.zip">DWNC6VIR_I1A_190606.zip</a> (1.7 Gb)
            <tr><td> (No data for VIR VIS Ceres XMO6)
                <td> N/A
                <td> N/A
            <tr><td>Dawn VIR IR raw, Ceres XMO7
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC7VIR_I1A/">DWNC7VIR_I1A</a>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC7VIR_I1A_190606.zip">DWNC7VIR_I1A_190606.zip</a> (2.2 Gb)
            <tr><td>Dawn VIR VIS raw, Ceres XMO7
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC7VIR_V1A/">DWNC7VIR_V1A</a>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC7VIR_V1A_190606.zip">DWNC7VIR_V1A_190606.zip</a> (86 Mb)
            </table>

            <p>
            Use the following citations to reference these data sets:

            <p>
            "De Sanctis, M.C., M.T. Capria,
                  M. Giardino, E. Ammannito, S. Fonte,
                  DAWN VIR RAW (EDR) CERES INFRARED SPECTRA V1.0,
                  DAWN-A-VIR-2-EDR-IR-CERES-SPECTRA-V1.0, NASA Planetary Data System,
                  2015."

            <p>
            "De Sanctis, M.C., M.T. Capria,
                  M. Giardino, E. Ammannito, S. Fonte,
                  DAWN VIR RAW (EDR) CERES VISIBLE SPECTRA V1.0,
                  DAWN-A-VIR-2-EDR-VIS-CERES-SPECTRA-V1.0, NASA Planetary Data System,
                  2015."

            <br><br>

            <hr>

            <center>
            <h2>Calibrated Data (Level 1b)</h2>

            <p>
            <b>Status:  Archived, latest release date (for XMO6/7) Aug. 9, 2019</b>
            </center>

            <table border=1>
            <tr><td width=400> Data set id:</td>
                <td width=200> Browse:</td>
                <td width=200> Download:</td>
                <td width=200> Smaller Download:</td>
            </tr>
            <tr><td>Dawn VIR IR calibrated, Ceres Approach and RC3
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCAVIR_I1B/">DWNCAVIR_I1B</a> (5.9 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCAVIR_I1B.tar.gz">DWNCAVIR_I1B.tar.gz</a> (4.9 Gb)</td>
                <td></td>
            <tr><td> Dawn VIR VIS calibrated, Ceres Approach and RC3
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCAVIR_V1B/">DWNCAVIR_V1B</a> (5.9 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCAVIR_V1B.tar.gz">DWNCAVIR_V1B.tar.gz</a> (4.9 Gb)</td>
                <td></td>
            <tr><td>Dawn VIR IR calibrated, Ceres Survey
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCSVIR_I1B/">DWNCSVIR_I1B</a> (5.3 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCSVIR_I1B-170714.tgz">DWNCSVIR_I1B-170714.tgz</a> (4.4 Gb)</td>
                <td></td>
            <tr><td>Dawn VIR VIS calibrated, Ceres Survey
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCSVIR_V1B/">DWNCSVIR_V1B</a> (6.5 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCSVIR_V1B-170714.tgz">DWNCSVIR_V1B-170714.tgz</a> (5.4 Gb)</td>
                <td></td>
            <tr><td> Dawn VIR IR calibrated, Ceres HAMO
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCHVIR_I1B/">DWNCHVIR_I1B</a> (16 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCHVIR_I1B-170324.tgz">DWNCHVIR_I1B-170324.tgz</a> (13 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/downloads/DWNCHVIR_I1B/">Select cycle phase</a></td>
            <tr><td> Dawn VIR VIS calibrated, Ceres HAMO
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCHVIR_V1B/">DWNCHVIR_V1B</a> (16 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCHVIR_V1B-170324.tgz">DWNCHVIR_V1B-170324.tgz</a> (13 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/downloads/DWNCHVIR_V1B/">Select cycle phase</a></td>
            <tr><td>Dawn VIR IR calibrated, Ceres LAMO
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCLVIR_I1B/">DWNCLVIR_I1B</a> (19 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCLVIR_I1B.tgz">DWNCLVIR_I1B.tgz</a> (16 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/downloads/DWNCLVIR_I1B/">Select cycle phase</a></td>
            <tr><td>Dawn VIR VIS calibrated, Ceres LAMO
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCLVIR_V1B/">DWNCLVIR_V1B</a> (4.1 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNCLVIR_V1B.tgz">DWNCLVIR_V1B.tgz</a> (3.3 Gb)</td>
                <td></td>
            <tr><td>Dawn VIR IR calibrated, Ceres XMO1 (extended LAMO)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC1VIR_I1B/">DWNC1VIR_I1B</a> (1.2 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC1VIR_I1B.tgz">DWNC1VIR_I1B.tgz</a> (1.0 Gb)</td>
                <td></td>
            <tr><td>Dawn VIR VIS calibrated, Ceres XMO1 (extended LAMO)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC1VIR_V1B/">DWNC1VIR_V1B</a> (18 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC1VIR_V1B.tgz">DWNC1VIR_V1B.tgz</a> (14 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/downloads/DWNC1VIR_V1B/">Select cycle phase</a></td>
            <tr><td>Dawn VIR IR calibrated, Ceres XMO2
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC2VIR_I1B/">DWNC2VIR_I1B</a> (1.0 Gb)</td>
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC2VIR_I1B.tgz">DWNC2VIR_I1B.tgz</a> (875 Mb)</td>
                <td></td>
            <tr><td> (No data for VIR VIS Ceres XMO2)
                <td> N/A</td>
                <td> N/A</td>
                <td></td>
            <tr><td> (No data for IR Ceres XMO3)
                <td> N/A
                <td> N/A
            <tr><td> Dawn VIR VIS calibrated, Ceres XMO3
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC3VIR_V1B/">DWNC3VIR_V1B</a> (1.3 Gb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC3VIR_V1B-190125.tgz">DWNC3VIR_V1B-190125.tgz</a> (1.0 Gb)
            <tr><td> Dawn VIR IR calibrated, Ceres XMO4
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC4VIR_I1B/">DWNC4VIR_I1B</a> (52 Mb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC4VIR_I1B-190125.tgz">DWNC4VIR_I1B-190125.tgz</a> (45 Mb)
            <tr><td> Dawn VIR VIS calibrated, Ceres XMO4
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC4VIR_V1B/">DWNC4VIR_V1B</a> (437 Mb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC4VIR_V1B-190125.tgz">DWNC4VIR_V1B-190125.tgz</a> (353 Mb)
            <tr><td> (No data for VIR IR/VIS Ceres XMO5)
                <td> N/A
                <td> N/A
            <tr><td>Dawn VIR IR calibrated, Ceres XMO6
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC6VIR_I1B/">DWNC6VIR_I1B</a> (3.9 Gb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC6VIR_I1B_190705.zip">DWNC6VIR_I1B_190705.zip</a> (3.3 Gb)
            <tr><td> (No data for VIR VIS Ceres XMO6)
                <td> N/A
                <td> N/A
            <tr><td>Dawn VIR IR calibrated, Ceres XMO7
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC7VIR_I1B/">DWNC7VIR_I1B</a> (5.1 Gb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC7VIR_I1B_190708.zip">DWNC7VIR_I1B_190708.zip</a> (4.3 Gb)
            <tr><td>Dawn VIR VIS calibrated, Ceres XMO7
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC7VIR_V1B/">DWNC7VIR_V1B</a> (117 Mb)
                <td><a href="https://sbnarchive.psi.edu/pds3/dawn/vir/DWNC7VIR_V1B_190708.zip">DWNC7VIR_V1B_1907008.zip</a> (100 Mb)
            </table>

            <p>
            Use the following citations to reference these data sets:

            <p>
            "De Sanctis, M.C., M.T. Capria,
                  M. Giardino, E. Ammannito, S. Fonte,
                  DAWN VIR CAL (RDR) CERES INFRARED SPECTRA V1.0,
                  DAWN-A-VIR-3-RDR-IR-CERES-SPECTRA-V1.0, NASA Planetary Data System,
                  2015."

            <p>
            "De Sanctis, M.C., M.T. Capria,
                  M. Giardino, E. Ammannito, S. Fonte,
                  DAWN VIR CAL (RDR) CERES VISIBLE SPECTRA V1.0,
                  DAWN-A-VIR-3-RDR-VIS-CERES-SPECTRA-V1.0, NASA Planetary Data System,
                  2015."

            <br><br>

            <h3>
            <center>
            <a href="resource/dawn/index.html">Return to Dawn Archive Page</a><br>
            </center>
            <br>

    <!-- END main content -->
    </div></main>

    <!-- BEGIN sbn-footer -->

<footer class="sbn-footer">
    <p class="sbn-footer-text">
        For questions about the data sets or this web site, contact Carol Neese (<a href="mailto:neese@psi.edu" class="link">neese@psi.edu</a>).
    </p>
</footer>

<div class="sbn-footer-extended">
    <aside class="sbn-footer-psi-container">
        <img src="images/PSI_Logo.png" alt="PSI Logo" title="PSI Logo" class="psi-logo">
        <span>Hosted by the Planetary Science Institute</span>
    </aside>
</div>

<!-- END sbn-footer -->


    


    <script src="js/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search-data.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts20210813.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
