<!DOCTYPE html>
<html lang="en">
<head>
     
    <base href="/pds/" />
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Ceres Framing Camera | PDS SBN Asteroid/Dust Subnode</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="css/main20210813.css">
    <link rel="stylesheet" href="css/header20210331.css">
    <link rel="stylesheet" href="css/footer20210331.css">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    <!-- PDS Feedback Widget -->
    <!-- Only add JQuery if you do not already include a library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
    <link rel="stylesheet" href="feedback/css/feedback.css"  type="text/css" media="screen" />
    <script src="feedback/js/modernizr-custom.js"></script>
    <script src="feedback/js/config.js"></script>
    <script src="feedback/js/feedback.js"></script>
    <!-- -->


    </head>
<body>

    <!-- BEGIN sbn-header -->

<header>
    <div id="sbn-header">

        <div class="sbn-title-container">
            <div class="sbn-title"><a class="ignore-a-styling" href="http://pdssbn.astro.umd.edu/">PDS Small Bodies Node</a></div>
            <a class="sbn-subtitle ignore-a-styling" href="">Asteroid/Dust Subnode</a>
        </div>
        <div class="gradient-bar"></div>
    </div>
</header>
<nav>
    
    <div id="menu-backdrop"></div>
    <div id="menu-drawer">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
    </div>

    <div id="theme-switch">
        <label for="theme-switch-checkbox">
            <input type="checkbox" id="theme-switch-checkbox" />
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30" title="Change light/dark theme">
                <title>Change light/dark theme</title>
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M20 15.31L23.31 12 20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69zM12 18V6c3.31 0 6 2.69 6 6s-2.69 6-6 6z" />
            </svg>
      </label>
    </div>
    <div id="menu">
        <div class="menu-handle">
            <div>Find Data</div>
            <ul class="menu-list">
                <li><a href="">Archive Home</a></li>
                <li class="divider"></li>
                <li><a href="archive/data-types.html"> Browse by Data Type</a></li>
                <li><a href="archive/target-types.html"> Browse by Target Type</a></li>
                <li><a href="archive/missions.html"> Browse by Mission</a></li>
                <li class="divider"></li>
                <li><a href="ferret/">Ferret - Target Search</a></li>
                <li><a href="sbib/">SBIB - Image Search</a></li>
                <li><a href="https://catch.astro.umd.edu/">CATCH - Survey Search</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Archive Data</div>
            <ul class="menu-list">
                <li><a href="olafs">OLAF - Archive your data</a></li>
                <li><a href="sbnarchivinghowto.html">How to Archive</a></li>
                <li><a href="other_tools/pdf1a.html">PDF/A Tools</a></li>
                <li><a href="https://pds.nasa.gov/datastandards/documents/current-version.shtml">PDS4 Standards</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>Support</div>
            <ul class="menu-list">
                <li><a href="support/">Support Home</a></li>
                <li class="divider"></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="support/Tips.html">Tips & Tricks Articles <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="24px" class="callout-svg-icon"><title>New!</title><path d="M0 0h24v24H0z" fill="none"/><path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg></a></li>
                <li><a href="support/FAQ.html">Frequently Asked Questions</a></li>
                <li><a href="support/Keyterms.html">Key Terms</a></li>
                <li><a href="support/Glossary.html">Full Glossary</a></li>
                <li class="divider"></li>
                <li><a href="https://pds.nasa.gov/home/proposers/">Information for Data Proposers</a></li>
                <li><a href="https://sbnwiki.astro.umd.edu/wiki/SBN_PDS4_Wiki">PDS4 Tutorials and Quick Ref</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/howto/understand.shtml">Using PDS Data</a></li>
            </ul>
        </div>
        <div class="menu-handle">
            <div>PDS Info</div>
            <ul class="menu-list">
                <li><a href="aboutastsubnode.html">About SBN Asteroid Subnode</a></li>
                <li><a href="http://pdssbn.astro.umd.edu/">SBN Comet Subnode</a></li>
                <li><a href="http://pds.nasa.gov/">PDS Home</a></li>
            </ul>
        </div>
    </div>
    
<div id="search-bar" class="search-container">
    <div class="search-box" v-bind:class="{focused: focused}">
        <svg class="search-icon" viewBox="0 0 100 125">
            <path d="M35.285,8L85,28.228L52.303,70.575l-4.715-17.337C33,59.622,16.45,72.294,43.672,92c0,0-37.15-4.02-26.875-39.512    c0,0,4.692-16.873,23.799-24.958L35.285,8z" />
        </svg>
        <div class="input-field">
            <input tabindex="0" placeholder="Shortcut to data by keyword..." type="text" aria-label="Shortcut to data by keyword"
                v-model="query"
                v-on:focus="onFocus"
                v-on:keyup="keypress">
        </div>
    </div>
    <div class="search-filter" v-if="focused">
        <label class="toggle-option" v-bind:class="{focused: mode === 'asteroid'}">Asteroid/Dust <input type="radio" v-model="mode" value="asteroid"></label>
        <label class="toggle-option" v-bind:class="{focused: mode === 'pds'}">PDS <input type="radio" v-model="mode" value="pds"></label>
    </div>
    <ul class="search-results" v-if="query.length > 0 && focused">
        <template v-for="result in searchResults">
            <li class="search-result" >
                <a v-bind:href="result.url" v-bind:title="title(result)" tabindex="0">{{result.name}}</a>
            </li>
        </template>
        <p class="no-results" v-if="searchResults.length === 0">No results found</p>
        <p class="no-results" v-if="searchResults.length === 0">Need help finding something? <a href="contact.html">Contact Us</a></p>
    </ul>
</div>

</nav>


<!-- END sbn-header -->


    <main><div class="sbn-main "  data-page-theme="images/dawn-patch.png" >
    <!-- BEGIN main content -->

            <ol class="breadcrumbs">
            <li><a href="">Home</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li><a href="archive/missions.html">Missions</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li><a href="resource/dawn">Dawn</a></li>
            <li class="breadcrumbs-separator">/</li>
            <li>Ceres - Framing Camera</li>
        </ol>

        <div class="callout">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
            <span>This mission will soon be moved to our new Archive Navigator. To see this page in beta,
                <a href="https://arcnav.psi.edu/urn:nasa:pds:context:instrument:dawn.fc2">click here</a>
            </span>
        </div>
        
        <center>
        <h1> Dawn at Ceres - Framing Camera </h1>
        </center>

        <p>
        The Dawn spacecraft is visiting the dwarf planet Ceres for the time period
        Dec. 26, 2014 through the end of the extended mission.
        Framing Camera 1 and Framing Camera 2 are two identical units flying on the Dawn
        spacecraft, of which FC2 acquired nearly all science data at Vesta and Ceres.
        The data sets linked below
        include raw (level 1a) and calibrated (level 1b) versions of all available
        images acquired during the Ceres Encounter.


        <p>
        <h3> Browse and search the PDS Dawn Ceres archive using the
        <a href="http://sbn.psi.edu/sbib/">Small Bodies Image Browser</a>.</h3>

            <hr>

        <center>
        <h2>Raw Data (Level 1a)</h2>

        <p>
        <b>Status:</b> Archived<br>
	<b>Latest Release Date:</b> May 22, 2019 for XMO6 and XMO7
        </center>

        <table border=1>
        <tr><td width=400> Data set id:</td>
            <td width=200> Browse:</td>
            <td width=200> Download:</td>
            <td width=200> Smaller Download:</td>
        </tr>
        <tr><td>Dawn Ceres FC2 raw, Approach and RC3
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCAFC2_1A/">DWNCAFC2_1A</a> (19 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCAFC2_1A-160825.tgz">DWNCAFC2_1A-160421.tgz</a> (5.7 Gb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC2 raw, Survey
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCSFC2_1A/">DWNCSFC2_1A</a> (7.8 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCSFC2_1A_181203.zip">DWNCSFC2_1A_181203.zip</a> (5.6 Gb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC2 raw, HAMO
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCHFC2_1A/">DWNCHFC2_1A</a> (30 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCHFC2_1A-160825.tgz">DWNCHFC2_1A-160421.tgz</a> (21 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/downloads/DWNCHFC2_1A/">Select FITS or IMG cycle phase</a></td>
        <tr><td>Dawn Ceres FC2 raw, LAMO
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCLFC2_1A/">DWNCLFC2_1A</a> (108 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCLFC2_1A.tgz">DWNCLFC2_1A.tgz</a> (82 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/downloads/DWNCLFC2_1A/">Select FITS or IMG cycle phase</a></td>
        <tr><td>Dawn Ceres FC2 raw, XMO1 (Extended LAMO)
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC1FC2_1A/">DWNC1FC2_1A</a> (61 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC1FC2_1A.tgz">DWNC1FC2_1A.tgz</a> (43 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/downloads/DWNC1FC2_1A/">Select FITS or IMG cycle phase</a></td>
        <tr><td>Dawn Ceres FC2 raw, XMO2 (Juling)
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC2FC2_1A/">DWNC2FC2_1A</a> (13 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC2FC2_1A.tgz">DWNC2FC2_1A.tgz</a> (9 Gb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC2 raw, XMO3 (GRaND)
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC3FC2_1A/">DWNC3FC2_1A</a> (5.6 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC3FC2_1A.tgz">DWNC3FC2_1A.tgz</a> (3.4 Gb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC2 raw, XMO4 (Opposition)
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC4FC2_1A/">DWNC4FC2_1A</a> (1.6 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC4FC2_1A.tgz">DWNC4FC2_1A.tgz</a> (512 Mb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC1 raw, XMO3 and XMO4
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCFC1_1A/">DWNCFC1_1A</a> (1.4 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCFC1_1A.tgz">DWNCFC1_1A.tgz</a> (600 Mb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC1 raw, XMO6
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC6FC1_1A/">DWNC6FC1_1A</a> (3.8 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC6FC1_1A-190611.tgz">DWNC6FC1_1A-190611.tgz</a> (2.2 Gb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC1 raw, XMO7
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC7FC1_1A/">DWNC7FC1_1A</a> (8.3 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC7FC1_1A-190612.tar">DWNC7FC1_1A-190612.tar</a> (5.0 Gb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC2 raw, XMO6
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC6FC2_1A/">DWNC6FC2_1A</a> (6.3 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC6FC2_1A-190614.tgz">DWNC6FC2_1A-190614.tgz</a> (3.8 Gb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC2 raw, XMO7
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC7FC2_1A/">DWNC7FC2_1A</a> (45 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC7FC2_1A-190614.tgz">DWNC7FC2_1A-190614.tgz</a> (28 Gb)</td>
            <td></td>
        </table>
        </center>

        <p>
        Use the following citation to reference the FC1 raw Ceres data set:

        <p>
        "Nathues, A., H. Sierks, P. Gutierrez-Marques, S. Schroeder, T. Maue, I.
              Buettner, M. Richards, U. Chistensen, U. Keller,
              DAWN FC1 RAW (EDR) CERES IMAGES V1.0,
              DAWN-A-FC1-2-EDR-CERES-IMAGES-V1.0, NASA Planetary Data System,
              2017."

        <p>
        Use the following citation to reference the FC2 raw Ceres data set:

        <p>
        "Nathues, A., H. Sierks, P. Gutierrez-Marques, J. Ripken, I. Hall, I.
              Buettner, M. Schaefer, U. Chistensen,
              DAWN FC2 RAW (EDR) CERES IMAGES V1.0,
              DAWN-A-FC2-2-EDR-CERES-IMAGES-V1.0, NASA Planetary Data System,
              2015."

        <br><br>

        <hr>

        <center>
        <h2>Calibrated Data (Level 1b)</h2>

        <p>
        <b>Status:</b> Archived<br>
	<b>Latest Release Date:</b> May 22, 2019 for XMO6 and XMO7
        </center>

        <br><br>

        <table border=1>
        <tr><td width=400> Data set id:</td>
            <td width=200> Browse:</td>
            <td width=200> Download:</td>
            <td width=200> Smaller Download</td>
        </tr>
        <tr><td>Dawn Ceres FC2 calibrated, Approach and RC3
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCAFC2_1B/">DWNCAFC2_1B</a> (36 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCAFC2_1B-160830.tgz">DWNCAFC2_1B-160830.tgz</a> (30 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/downloads/DWNCAFC2_1B/">Select FITS or IMG cycle phase</a></td>
        <tr><td>Dawn Ceres FC2 calibrated, Survey
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCSFC2_1B/">DWNCSFC2_1B</a> (14 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCSFC2_1B_20181203.zip">DWNCSFC2_1B_20181203.zip</a> (12 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/downloads/DWNCSFC2_1B/">Select FITS or IMG mission phase</a></td>
        <tr><td>Dawn Ceres FC2 calibrated, HAMO
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCHFC2_1B/">DWNCHFC2_1B</a> (55 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCHFC2_1B-160830.tgz">DWNCHFC2_1B-160830.tgz</a> (47 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/downloads/DWNCHFC2_1B/">Select FITS or IMG cycle phase</a></td>
        <tr><td>Dawn Ceres FC2 calibrated, LAMO
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCLFC2_1B/">DWNCLFC2_1B</a> (198 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCLFC2_1B.tgz">DWNCLFC2_1B.tgz</a> (172 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/downloads/DWNCLFC2_1B/">Select FITS or IMG cycle phase</a>
        <tr><td>Dawn Ceres FC2 calibrated, XMO1 (Extended LAMO)
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC1FC2_1B/">DWNC1FC2_1B</a> (113 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC1FC2_1B.tgz">DWNC1FC2_1B.tgz</a> (98 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/downloads/DWNC1FC2_1B/">Select FITS or IMG cycle phase</a></td>
        <tr><td>Dawn Ceres FC2 calibrated, XMO2 (Juling)
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC2FC2_1B/">DWNC2FC2_1B</a> (24 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC2FC2_1B.tgz">DWNC2FC2_1B.tgz</a> (21 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/downloads/DWNC2FC2_1B/">Select FITS or IMG cycle phase</a></td>
        <tr><td>Dawn Ceres FC2 calibrated, XMO3 (GRaND)
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC3FC2_1B/">DWNC3FC2_1B</a> (11 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC3FC2_1B.tgz">DWNC3FC2_1B.tgz</a> (9.1 Gb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC2 calibrated, XMO4 (Opposition)
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC4FC2_1B/">DWNC4FC2_1B</a> (3.0 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC4FC2_1B.tgz">DWNC4FC2_1B.tgz</a> (2.6 Gb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC1 calibrated, XMO3 and XMO4
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCFC1_1B/">DWNCFC1_1B</a> (2.3 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNCFC1_1B.tgz">DWNCFC1_1B.tgz</a> (2.0 Gb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC1 calibrated, XMO6
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC6FC1_1B/">DWNC6FC1_1B</a> (4.2 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC6FC1_1B-190723.tgz">DWNC6FC1_1B-190723.tgz</a> (3.5 Gb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC1 calibrated, XMO7
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC7FC1_1B/">DWNC7FC1_1B</a> (15 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC7FC1_1B-190724.tgz">DWNC7FC1_1B-190724.tgz</a> (12 Gb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC2 calibrated, XMO6
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC6FC2_1B/">DWNC6FC2_1B</a> (11 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC6FC2_1B-190724.tgz">DWNC6FC2_1B-190724.tgz</a> (9.3 Gb)</td>
            <td></td>
        <tr><td>Dawn Ceres FC2 calibrated, XMO7
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC7FC2_1B/">DWNC7FC2_1B</a> (85 Gb)</td>
            <td><a href="https://sbnarchive.psi.edu/pds3/dawn/fc/DWNC7FC2_1B-190724.tgz">DWNC7FC2_1B-190724.tgz</a> (72 Gb)</td>
            <td></td>
        </table>
        </center>

        <p>
        Use the following citation to reference the FC1 calibrated Ceres data set:

        <p>
        "Nathues, A., H. Sierks, P. Gutierrez-Marques, S. Schroeder, T. Maue, I.
              Buettner, M. Richards, U. Chistensen, U. Keller,
              DAWN FC1 CALIBRATED (RDR) CERES IMAGES V1.0,
              DAWN-A-FC1-3-RDR-CERES-IMAGES-V1.0, NASA Planetary Data System,
              2017."

        <p>
        Use the following citation to reference the FC2 calibrated Ceres data set:

        <p>
        "Nathues, A., H. Sierks, P. Gutierrez-Marques, J. Ripken, I. Hall, I.
              Buettner, M. Schaefer, U. Chistensen,
              DAWN FC2 CALIBRATED CERES IMAGES V1.0,
              DAWN-A-FC2-3-RDR-CERES-IMAGES-V1.0, NASA Planetary Data System,
              2016."


        <br><br>
        <center>
            <a href="resource/dawn/index.html">Return to Dawn Archive Page</a><br>
            </center>
            <br>


    <!-- END main content -->
    </div></main>

    <!-- BEGIN sbn-footer -->

<footer class="sbn-footer">
    <p class="sbn-footer-text">
        For questions about the data sets or this web site, contact Carol Neese (<a href="mailto:neese@psi.edu" class="link">neese@psi.edu</a>).
    </p>
</footer>

<div class="sbn-footer-extended">
    <aside class="sbn-footer-psi-container">
        <img src="images/PSI_Logo.png" alt="PSI Logo" title="PSI Logo" class="psi-logo">
        <span>Hosted by the Planetary Science Institute</span>
    </aside>
</div>

<!-- END sbn-footer -->


    


    <script src="js/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search-data.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/search.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scripts20210813.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
